In [25]:
%load_ext autoreload
%autoreload 2
# dataset.py에서 파일 output하는 모듈 실행
from dataset import mergeForecastDataset
from dataset import addOutputDataset
from dataset import makeVisitor
from dataset import makeAtmosphere
from dataset import makeFinalResult
from dataset import fillDirtyData
from dataset import discretizeData
from dataset import encodingData

mergeForecastDataset()
addOutputDataset()
makeVisitor()
makeAtmosphere()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2009      1    1   200         4      0  2009-01-01        0  2009-01-01
1     2009      1    1   200         7      0  2009-01-01        0  2009-01-01
2     2009      1    1   200        10      0  2009-01-01        0  2009-01-01
3     2009      1    1   200        13      0  2009-01-01        0  2009-01-01
4     2009      1    1   500         4      0  2009-01-01        0  2009-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
5467  2009      8   30  2300         4      0  2009-08-30        0  2009-08-30
5468  2009      8   30  2300         7      0  2009-08-30        0  2009-08-30
5469  2009      8   30  2300        10      0  2009-08-30        0  2009-08-30
5470  2009      8   30  2300        13      0  2009-08-30        0  2009-08-30
5471  2009      8   30  2300        16      5  2009-08-30        0  2009-08-30

[5472 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2010      1    1   200         4      1  2010-01-01        0  2010-01-01
1     2010      1    1   200         7      5  2010-01-01        0  2010-01-01
2     2010      1    1   200        10      0  2010-01-01        0  2010-01-01
3     2010      1    1   200        13      0  2010-01-01        0  2010-01-01
4     2010      1    1   500         4      1  2010-01-01        0  2010-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
9859  2010     12   31  2300         4      0  2010-12-31        1  2011-01-01
9860  2010     12   31  2300         7      0  2010-12-31        1  2011-01-01
9861  2010     12   31  2300        10      0  2010-12-31        1  2011-01-01
9862  2010     12   31  2300        13      0  2010-12-31        1  2011-01-01
9863  2010     12   31  2300        16      0  2010-12-31        1  2011-01-01

[9864 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2011      1    1   200         4      0  2011-01-01        0  2011-01-01
1     2011      1    1   200         7      0  2011-01-01        0  2011-01-01
2     2011      1    1   200        10      0  2011-01-01        0  2011-01-01
3     2011      1    1   200        13      0  2011-01-01        0  2011-01-01
4     2011      1    1   500         4      0  2011-01-01        0  2011-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4481  2011      8   30  2300         4      0  2011-08-30        1  2011-08-31
4482  2011      8   30  2300         7      0  2011-08-30        1  2011-08-31
4483  2011      8   30  2300        10      0  2011-08-30        1  2011-08-31
4484  2011      8   30  2300        13      0  2011-08-30        1  2011-08-31
4485  2011      8   30  2300        16      5  2011-08-30        1  2011-08-31

[4486 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2012      1    1   200         4      0  2012-01-01        0  2012-01-01
1     2012      1    1   200         7      0  2012-01-01        0  2012-01-01
2     2012      1    1   200        10      0  2012-01-01        0  2012-01-01
3     2012      1    1   200        13      0  2012-01-01        0  2012-01-01
4     2012      1    1   500         4      0  2012-01-01        0  2012-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
7938  2012     10   31  2300         4      0  2012-10-31        1  2012-11-01
7939  2012     10   31  2300         7      5  2012-10-31        1  2012-11-01
7940  2012     10   31  2300        10      0  2012-10-31        1  2012-11-01
7941  2012     10   31  2300        13      0  2012-10-31        1  2012-11-01
7942  2012     10   31  2300        16      0  2012-10-31        1  2012-11-01

[7943 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2013      1    1   200         4      5    2013.1.1        0  2013-01-01
1     2013      1    1   200         7      0    2013.1.1        0  2013-01-01
2     2013      1    1   200        10      0    2013.1.1        0  2013-01-01
3     2013      1    1   200        13      0    2013.1.1        0  2013-01-01
4     2013      1    1   500         4      5    2013.1.1        0  2013-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
6475  2013     12   31  2300         4      0  2013.12.31        1  2014-01-01
6476  2013     12   31  2300         7      0  2013.12.31        1  2014-01-01
6477  2013     12   31  2300        10      0  2013.12.31        1  2014-01-01
6478  2013     12   31  2300        13      0  2013.12.31        1  2014-01-01
6479  2013     12   31  2300        16      0  2013.12.31        1  2014-01-01

[6480 rows x 9 columns]
       year  month  day  hour  forecast  value       date  addDate   timestamp
0      2014      1    1   200         7      0   2014.1.1        0  2014-01-01
1      2014      1    1   200        13      0   2014.1.1        0  2014-01-01
2      2014      1    1   200        19      0   2014.1.1        0  2014-01-01
3      2014      1    1   200        25      0   2014.1.1        1  2014-01-02
4      2014      1    1   200        31      0   2014.1.1        1  2014-01-02
...     ...    ...  ...   ...       ...    ...        ...      ...         ...
22619  2014     11   31  2300        40      0  2014.12.1        2  2014-12-03
22620  2014     11   31  2300        46      0  2014.12.1        2  2014-12-03
22621  2014     11   31  2300        52      0  2014.12.1        3  2014-12-04
22622  2014     11   31  2300        58      0  2014.12.1        3  2014-12-04
22623  2014     11   31  2300        64      0  2014.12.1        3  2014-12-04

[22624 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2015      1    1   200         7      0    2015.1.1        0
1      2015      1    1   200        13      0    2015.1.1        0
2      2015      1    1   200        19      0    2015.1.1        0
3      2015      1    1   200        25      0    2015.1.1        1
4      2015      1    1   200        31      0    2015.1.1        1
...     ...    ...  ...   ...       ...    ...         ...      ...
26964  2015     12   31  2300        40      0  2015.12.31        2
26965  2015     12   31  2300        46      0  2015.12.31        2
26966  2015     12   31  2300        52      0  2015.12.31        3
26967  2015     12   31  2300        58      0  2015.12.31        3
26968  2015     12   31  2300        64      0  2015.12.31        3

        timestamp
0      2015-01-01
1      2015-01-01
2      2015-01-01
3      2015-01-02
4      2015-01-02
...           ...
26964  2016-01-02
26965  2016-01-02
26966  2016-01-03
26967  2016-01-03
26968  2016-01-03

[26969 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2016      1    1   200         7      0    2016.1.1        0
1      2016      1    1   200        13      0    2016.1.1        0
2      2016      1    1   200        19      0    2016.1.1        0
3      2016      1    1   200        25      0    2016.1.1        1
4      2016      1    1   200        31      0    2016.1.1        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27811  2016     12   31  2300        40      0  2016.12.31        2
27812  2016     12   31  2300        46      0  2016.12.31        2
27813  2016     12   31  2300        52      0  2016.12.31        3
27814  2016     12   31  2300        58      0  2016.12.31        3
27815  2016     12   31  2300        64      0  2016.12.31        3

        timestamp
0      2016-01-01
1      2016-01-01
2      2016-01-01
3      2016-01-02
4      2016-01-02
...           ...
27811  2017-01-02
27812  2017-01-02
27813  2017-01-03
27814  2017-01-03
27815  2017-01-03

[27816 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         7      0  2017-02-01        0
1      2017      2    1   200        13      0  2017-02-01        0
2      2017      2    1   200        19      0  2017-02-01        0
3      2017      2    1   200        25      0  2017-02-01        1
4      2017      2    1   200        31      0  2017-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2017     13   31  2300        40      0  2018-01-31        2
27736  2017     13   31  2300        46      0  2018-01-31        2
27737  2017     13   31  2300        52      0  2018-01-31        3
27738  2017     13   31  2300        58      0  2018-01-31        3
27739  2017     13   31  2300        64      0  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-02
4      2017-02-02
...           ...
27735  2018-02-02
27736  2018-02-02
27737  2018-02-03
27738  2018-02-03
27739  2018-02-03

[27740 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         7      0  2017-01-01        0  2017-01-01
1     2017      1    1   200        13      0  2017-01-01        0  2017-01-01
2     2017      1    1   200        19      0  2017-01-01        0  2017-01-01
3     2017      1    1   200        25      0  2017-01-01        1  2017-01-02
4     2017      1    1   200        31      0  2017-01-01        1  2017-01-02
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
2351  2017      1   31  2300        40      0  2017-01-31        2  2017-02-02
2352  2017      1   31  2300        46      0  2017-01-31        2  2017-02-02
2353  2017      1   31  2300        52      0  2017-01-31        3  2017-02-03
2354  2017      1   31  2300        58      0  2017-01-31        3  2017-02-03
2355  2017      1   31  2300        64      0  2017-01-31        3  2017-02-03

[2356 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         7      0  2018-02-01        0
1      2018      2    1   200        13      0  2018-02-01        0
2      2018      2    1   200        19      0  2018-02-01        0
3      2018      2    1   200        25      0  2018-02-01        1
4      2018      2    1   200        31      0  2018-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2018     13   31  2300        40      0  2019-01-31        2
27736  2018     13   31  2300        46      5  2019-01-31        2
27737  2018     13   31  2300        52     10  2019-01-31        3
27738  2018     13   31  2300        58      5  2019-01-31        3
27739  2018     13   31  2300        64      1  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-02
4      2018-02-02
...           ...
27735  2019-02-02
27736  2019-02-02
27737  2019-02-03
27738  2019-02-03
27739  2019-02-03

[27740 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         7      0  2019-02-01        0
1      2019      2    1   200        13      0  2019-02-01        0
2      2019      2    1   200        19      0  2019-02-01        0
3      2019      2    1   200        25      0  2019-02-01        1
4      2019      2    1   200        31      0  2019-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2019     13   31  2300        40      0  2020-01-31        2
27736  2019     13   31  2300        46      0  2020-01-31        2
27737  2019     13   31  2300        52      0  2020-01-31        3
27738  2019     13   31  2300        58      0  2020-01-31        3
27739  2019     13   31  2300        64      0  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-02
4      2019-02-02
...           ...
27735  2020-02-02
27736  2020-02-02
27737  2020-02-03
27738  2020-02-03
27739  2020-02-03

[27740 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2009      1    1   200         4      0  2009-01-01        0
1      2009      1    1   200         7      0  2009-01-01        0
2      2009      1    1   200        10      0  2009-01-01        0
3      2009      1    1   200        13      0  2009-01-01        0
4      2009      1    1   200        16      0  2009-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
46277  2009     12   31  2300        40      0  2009-12-31        2
46278  2009     12   31  2300        43      0  2009-12-31        2
46279  2009     12   31  2300        46      0  2009-12-31        2
46280  2009     12   31  2300        49      0  2009-12-31        3
46281  2009     12   31  2300        52      0  2009-12-31        3

        timestamp
0      2009-01-01
1      2009-01-01
2      2009-01-01
3      2009-01-01
4      2009-01-01
...           ...
46277  2010-01-02
46278  2010-01-02
46279  2010-01-02
46280  2010-01-03
46281  2010-01-03

[46282 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2010      1    1   200         4     20  2010-01-01        0
1      2010      1    1   200         7     30  2010-01-01        0
2      2010      1    1   200        10     30  2010-01-01        0
3      2010      1    1   200        13     60  2010-01-01        0
4      2010      1    1   200        16     60  2010-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
48175  2010     12   31  2300        40      0  2010-12-31        2
48176  2010     12   31  2300        43     10  2010-12-31        2
48177  2010     12   31  2300        46     10  2010-12-31        2
48178  2010     12   31  2300        49     10  2010-12-31        3
48179  2010     12   31  2300        52     20  2010-12-31        3

        timestamp
0      2010-01-01
1      2010-01-01
2      2010-01-01
3      2010-01-01
4      2010-01-01
...           ...
48175  2011-01-02
48176  2011-01-02
48177  2011-01-02
48178  2011-01-03
48179  2011-01-03

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2011      1    1   200         4      0  2011-01-01        0
1      2011      1    1   200         7      0  2011-01-01        0
2      2011      1    1   200        10      0  2011-01-01        0
3      2011      1    1   200        13      0  2011-01-01        0
4      2011      1    1   200        16      0  2011-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
44561  2011     12   31  2300        40     10  2011-12-31        2
44562  2011     12   31  2300        43     10  2011-12-31        2
44563  2011     12   31  2300        46     10  2011-12-31        2
44564  2011     12   31  2300        49     20  2011-12-31        3
44565  2011     12   31  2300        52     20  2011-12-31        3

        timestamp
0      2011-01-01
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
44561  2012-01-02
44562  2012-01-02
44563  2012-01-02
44564  2012-01-03
44565  2012-01-03

[44566 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2012      1    1   200         4     30  2012-01-01        0
1      2012      1    1   200         7     20  2012-01-01        0
2      2012      1    1   200        10      0  2012-01-01        0
3      2012      1    1   200        13      0  2012-01-01        0
4      2012      1    1   200        16      0  2012-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
46109  2012     12   31  2300        40      0  2012-12-31        2
46110  2012     12   31  2300        43      0  2012-12-31        2
46111  2012     12   31  2300        46      0  2012-12-31        2
46112  2012     12   31  2300        49      0  2012-12-31        3
46113  2012     12   31  2300        52      0  2012-12-31        3

        timestamp
0      2012-01-01
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
46109  2013-01-02
46110  2013-01-02
46111  2013-01-02
46112  2013-01-03
46113  2013-01-03

[46114 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2013      1    1   200         4     60    2013.1.1        0
1      2013      1    1   200         7     30    2013.1.1        0
2      2013      1    1   200        10     70    2013.1.1        0
3      2013      1    1   200        13     70    2013.1.1        0
4      2013      1    1   200        16     20    2013.1.1        0
...     ...    ...  ...   ...       ...    ...         ...      ...
48175  2013     12   31  2300        40     10  2013.12.31        2
48176  2013     12   31  2300        43     20  2013.12.31        2
48177  2013     12   31  2300        46     20  2013.12.31        2
48178  2013     12   31  2300        49     20  2013.12.31        3
48179  2013     12   31  2300        52     20  2013.12.31        3

        timestamp
0      2013-01-01
1      2013-01-01
2      2013-01-01
3      2013-01-01
4      2013-01-01
...           ...
48175  2014-01-02
48176  2014-01-02
48177  2014-01-02
48178  2014-01-03
48179  2014-01-03

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2014      1    1   200         4     20    2014.1.1        0
1      2014      1    1   200         7     20    2014.1.1        0
2      2014      1    1   200        10     10    2014.1.1        0
3      2014      1    1   200        13     10    2014.1.1        0
4      2014      1    1   200        16      0    2014.1.1        0
...     ...    ...  ...   ...       ...    ...         ...      ...
52079  2014     12   31  2300        52     10  2014.12.31        3
52080  2014     12   31  2300        55     20  2014.12.31        3
52081  2014     12   31  2300        58     20  2014.12.31        3
52082  2014     12   31  2300        61     20  2014.12.31        3
52083  2014     12   31  2300        64     30  2014.12.31        3

        timestamp
0      2014-01-01
1      2014-01-01
2      2014-01-01
3      2014-01-01
4      2014-01-01
...           ...
52079  2015-01-03
52080  2015-01-03
52081  2015-01-03
52082  2015-01-03
52083  2015-01-03

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2015      1    1   200         4      0    2015.1.1        0
1      2015      1    1   200         7      0    2015.1.1        0
2      2015      1    1   200        10      0    2015.1.1        0
3      2015      1    1   200        13     10    2015.1.1        0
4      2015      1    1   200        16     10    2015.1.1        0
...     ...    ...  ...   ...       ...    ...         ...      ...
52514  2015     12   31  2300        52     20  2015.12.31        3
52515  2015     12   31  2300        55     20  2015.12.31        3
52516  2015     12   31  2300        58     20  2015.12.31        3
52517  2015     12   31  2300        61     20  2015.12.31        3
52518  2015     12   31  2300        64     20  2015.12.31        3

        timestamp
0      2015-01-01
1      2015-01-01
2      2015-01-01
3      2015-01-01
4      2015-01-01
...           ...
52514  2016-01-03
52515  2016-01-03
52516  2016-01-03
52517  2016-01-03
52518  2016-01-03

[52519 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2016      1    1   200         4     20    2016.1.1        0
1      2016      1    1   200         7     20    2016.1.1        0
2      2016      1    1   200        10     20    2016.1.1        0
3      2016      1    1   200        13     20    2016.1.1        0

/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)
/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:90: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['date', 'hour']] = df['timestamp'].str.split(" ", 1, expand=True)

In [26]:
makeFinalResult()

            date  sulfur_dioxide_min  sulfur_dioxide_max  sulfur_dioxide_mean  \
0     2008-10-01               0.003               0.004             0.003333
1     2008-10-02               0.002               0.008             0.004000
2     2008-10-03               0.004               0.008             0.005042
3     2008-10-04               0.004               0.008             0.005875
4     2008-10-05               0.005               0.009             0.006458
...          ...                 ...                 ...                  ...
3946  2020-01-27                 NaN                 NaN                  NaN
3947  2020-01-28                 NaN                 NaN                  NaN
3948  2020-01-29                 NaN                 NaN                  NaN
3949  2020-01-30                 NaN                 NaN                  NaN
3950  2020-01-31                 NaN                 NaN                  NaN

      sulfur_dioxide_median  carbon_monoxide_min  carbon_monoxide_max  \
0                     0.003                  0.2                  0.8
1                     0.004                  0.1                  0.5
2                     0.005                  0.3                  0.5
3                     0.006                  0.3                  0.6
4                     0.006                  0.3                  0.6
...                     ...                  ...                  ...
3946                    NaN                  NaN                  NaN
3947                    NaN                  NaN                  NaN
3948                    NaN                  NaN                  NaN
3949                    NaN                  NaN                  NaN
3950                    NaN                  NaN                  NaN

      carbon_monoxide_mean  carbon_monoxide_median  ozone_min  ...  \
0                 0.483333                    0.50      0.002  ...
1                 0.354167                    0.40      0.002  ...
2                 0.429167                    0.40      0.002  ...
3                 0.437500                    0.45      0.002  ...
4                 0.450000                    0.50      0.002  ...
...                    ...                     ...        ...  ...
3946                   NaN                     NaN        NaN  ...
3947                   NaN                     NaN        NaN  ...
3948                   NaN                     NaN        NaN  ...
3949                   NaN                     NaN        NaN  ...
3950                   NaN                     NaN        NaN  ...

      wind direction_min  wind direction_max  wind direction_mean  \
0                    NaN                 NaN                  NaN
1                    NaN                 NaN                  NaN
2                    NaN                 NaN                  NaN
3                    NaN                 NaN                  NaN
4                    NaN                 NaN                  NaN
...                  ...                 ...                  ...
3946                45.0               315.0           210.962121
3947                84.0               315.0           201.030303
3948               180.0               270.0           239.174242
3949                20.0               315.0           244.734848
3950               250.0               315.0           271.757576

      wind direction_median  sky state_min  sky state_max  sky state_mean  \
0                       NaN            NaN            NaN             NaN
1                       NaN            NaN            NaN             NaN
2                       NaN            NaN            NaN             NaN
3                       NaN            NaN            NaN             NaN
4                       NaN            NaN            NaN             NaN
...                     ...            ...            ...             ...
3946                  225.0            1.0            3.0        2.000000
3947                  180.0            1.0            2.0        1.098485
3948                  225.5            1.0            1.0        1.000000
3949                  268.0            1.0            2.0        1.151515
3950                  270.0            1.0            4.0        3.469697

      sky state_median  weekday  visitor
0                  NaN      3.0   11,483
1                  NaN      4.0   14,012
2                  NaN      5.0   58,660
3                  NaN      6.0   38,961
4                  NaN      7.0   34,852
...                ...      ...      ...
3946               2.0      1.0    2,236
3947               1.0      2.0      925
3948               1.0      3.0      757
3949               1.0      4.0    2,013
3950               4.0      5.0      628

[3951 rows x 55 columns]

In [27]:
# import matplotlib.pyplot as plt
# import pandas as pd

# df = pd.read_csv('./assets/output/finalDataset.csv')

# plt.figure(figsize=(10,5))
# plt.title("sulfur_dioxide_min")
# plt.plot(df['sulfur_dioxide_min'])

# plt.figure(figsize=(10,5))
# plt.title("sulfur_dioxide_max")
# plt.plot(df["sulfur_dioxide_max"]) 

# plt.figure(figsize=(10,5))
# plt.title("sulfur_dioxide_mean")
# plt.plot(df["sulfur_dioxide_mean"]) 

# plt.figure(figsize=(10,5))
# plt.title("sulfur_dioxide_median")
# plt.plot(df["sulfur_dioxide_median"]) 
# plt.show()

# plt.figure(figsize=(10,5))
# plt.title("sulfur_dioxide_std")
# plt.plot(df["sulfur_dioxide_std"]) 
# plt.show()

# plt.figure(figsize=(10,5))
# plt.title("carbon_monoxide_max")
# plt.plot(df["carbon_monoxide_max"]) 
# plt.show()

In [28]:
fillDirtyData()
discretizeData()
encodingData()