In [1]:
%load_ext autoreload
%autoreload 2
# dataset.py에서 파일 output하는 모듈 실행
from dataset import makeOutputDataset

makeOutputDataset()

         year  month  format: day  hour forecast  \
0         NaN      0          NaN   NaN      NaN
1      2009.0      1            1   200        4
2      2009.0      1            1   200        7
3      2009.0      1            1   200       10
4      2009.0      1            1   200       13
...       ...    ...          ...   ...      ...
10941  2009.0     16           30  2300        4
10942  2009.0     16           30  2300        7
10943  2009.0     16           30  2300       10
10944  2009.0     16           30  2300       13
10945  2009.0     16           30  2300       16

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                            0  2009-01-01       0  2009-01-01
2                                            0  2009-01-01       0  2009-01-02
3                                            0  2009-01-01       0  2009-01-03
4                                            0  2009-01-01       0  2009-01-04
...                                        ...         ...     ...         ...
10941                                        0  2010-04-30       1  2038-12-15
10942                                        0  2010-04-30       1  2038-12-16
10943                                        0  2010-04-30       1  2038-12-17
10944                                        0  2010-04-30       1  2038-12-18
10945                                        5  2010-04-30       1  2038-12-19

[10946 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2010.0      1           1.0   200.0       4.0
2     2010.0      1           1.0   200.0       7.0
3     2010.0      1           1.0   200.0      10.0
4     2010.0      1           1.0   200.0      13.0
...      ...    ...           ...     ...       ...
9860  2010.0     12          31.0  2300.0       4.0
9861  2010.0     12          31.0  2300.0       7.0
9862  2010.0     12          31.0  2300.0      10.0
9863  2010.0     12          31.0  2300.0      13.0
9864  2010.0     12          31.0  2300.0      16.0

      value  location:60_124 Start : 20100101         date  addDate  \
0                                          NaN         NaN      NaN
1                                          1.0  2010-01-01      0.0
2                                          5.0  2010-01-01      0.0
3                                          0.0  2010-01-01      0.0
4                                          0.0  2010-01-01      0.0
...                                        ...         ...      ...
9860                                       0.0  2010-12-31      1.0
9861                                       0.0  2010-12-31      1.0
9862                                       0.0  2010-12-31      1.0
9863                                       0.0  2010-12-31      1.0
9864                                       0.0  2010-12-31      1.0

       timeStamp
0            NaN
1     2010-01-01
2     2010-01-01
3     2010-01-01
4     2010-01-01
...          ...
9860  2011-01-01
9861  2011-01-01
9862  2011-01-01
9863  2011-01-01
9864  2011-01-01

[9865 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2011.0      1           1.0   200.0       4.0
2     2011.0      1           1.0   200.0       7.0
3     2011.0      1           1.0   200.0      10.0
4     2011.0      1           1.0   200.0      13.0
...      ...    ...           ...     ...       ...
4482  2011.0      8          30.0  2300.0       4.0
4483  2011.0      8          30.0  2300.0       7.0
4484  2011.0      8          30.0  2300.0      10.0
4485  2011.0      8          30.0  2300.0      13.0
4486  2011.0      8          30.0  2300.0      16.0

      value  location:60_124 Start : 20110101         date  addDate  \
0                                          NaN         NaN      NaN
1                                          0.0  2011-01-01      0.0
2                                          0.0  2011-01-01      0.0
3                                          0.0  2011-01-01      0.0
4                                          0.0  2011-01-01      0.0
...                                        ...         ...      ...
4482                                       0.0  2011-08-30      1.0
4483                                       0.0  2011-08-30      1.0
4484                                       0.0  2011-08-30      1.0
4485                                       0.0  2011-08-30      1.0
4486                                       5.0  2011-08-30      1.0

       timeStamp
0            NaN
1     2011-01-01
2     2011-01-01
3     2011-01-01
4     2011-01-01
...          ...
4482  2011-08-31
4483  2011-08-31
4484  2011-08-31
4485  2011-08-31
4486  2011-08-31

[4487 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2012.0      1           1.0   200.0       4.0
2     2012.0      1           1.0   200.0       7.0
3     2012.0      1           1.0   200.0      10.0
4     2012.0      1           1.0   200.0      13.0
...      ...    ...           ...     ...       ...
7939  2012.0     10          31.0  2300.0       4.0
7940  2012.0     10          31.0  2300.0       7.0
7941  2012.0     10          31.0  2300.0      10.0
7942  2012.0     10          31.0  2300.0      13.0
7943  2012.0     10          31.0  2300.0      16.0

      value  location:60_124 Start : 20120101         date  addDate  \
0                                          NaN         NaN      NaN
1                                          0.0  2012-01-01      0.0
2                                          0.0  2012-01-01      0.0
3                                          0.0  2012-01-01      0.0
4                                          0.0  2012-01-01      0.0
...                                        ...         ...      ...
7939                                       0.0  2012-10-31      1.0
7940                                       5.0  2012-10-31      1.0
7941                                       0.0  2012-10-31      1.0
7942                                       0.0  2012-10-31      1.0
7943                                       0.0  2012-10-31      1.0

       timeStamp
0            NaN
1     2012-01-01
2     2012-01-01
3     2012-01-01
4     2012-01-01
...          ...
7939  2012-11-01
7940  2012-11-01
7941  2012-11-01
7942  2012-11-01
7943  2012-11-01

[7944 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate timestamp
0     2013      1    1   200         4      5    2013.1.1        0  2013.1.1
1     2013      1    1   200         7      0    2013.1.1        0  2013.1.1
2     2013      1    1   200        10      0    2013.1.1        0  2013.1.1
3     2013      1    1   200        13      0    2013.1.1        0  2013.1.1
4     2013      1    1   500         4      5    2013.1.1        0  2013.1.1
...    ...    ...  ...   ...       ...    ...         ...      ...       ...
6475  2013     12   31  2300         4      0  2013.12.31        1  2014.1.1
6476  2013     12   31  2300         7      0  2013.12.31        1  2014.1.1
6477  2013     12   31  2300        10      0  2013.12.31        1  2014.1.1
6478  2013     12   31  2300        13      0  2013.12.31        1  2014.1.1
6479  2013     12   31  2300        16      0  2013.12.31        1  2014.1.1

[6480 rows x 9 columns]
       year  month  day  hour  forecast  value       date  addDate  timestamp
0      2014      1    1   200         7      0   2014.1.1        0   2014.1.1
1      2014      1    1   200        13      0   2014.1.1        0   2014.1.1
2      2014      1    1   200        19      0   2014.1.1        0   2014.1.1
3      2014      1    1   200        25      0   2014.1.1        1   2014.1.2
4      2014      1    1   200        31      0   2014.1.1        1   2014.1.2
...     ...    ...  ...   ...       ...    ...        ...      ...        ...
22619  2014     11   31  2300        40      0  2014.12.1        2  2014.12.3
22620  2014     11   31  2300        46      0  2014.12.1        2  2014.12.3
22621  2014     11   31  2300        52      0  2014.12.1        3  2014.12.4
22622  2014     11   31  2300        58      0  2014.12.1        3  2014.12.4
22623  2014     11   31  2300        64      0  2014.12.1        3  2014.12.4

[22624 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         7      0    2015.1.1        0  2015.1.1
1      2015      1    1   200        13      0    2015.1.1        0  2015.1.1
2      2015      1    1   200        19      0    2015.1.1        0  2015.1.1
3      2015      1    1   200        25      0    2015.1.1        1  2015.1.2
4      2015      1    1   200        31      0    2015.1.1        1  2015.1.2
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
26964  2015     12   31  2300        40      0  2015.12.31        2  2016.1.2
26965  2015     12   31  2300        46      0  2015.12.31        2  2016.1.2
26966  2015     12   31  2300        52      0  2015.12.31        3  2016.1.3
26967  2015     12   31  2300        58      0  2015.12.31        3  2016.1.3
26968  2015     12   31  2300        64      0  2015.12.31        3  2016.1.3

[26969 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2016      1    1   200         7      0    2016.1.1        0  2016.1.1
1      2016      1    1   200        13      0    2016.1.1        0  2016.1.1
2      2016      1    1   200        19      0    2016.1.1        0  2016.1.1
3      2016      1    1   200        25      0    2016.1.1        1  2016.1.2
4      2016      1    1   200        31      0    2016.1.1        1  2016.1.2
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
27811  2016     12   31  2300        40      0  2016.12.31        2  2017.1.2
27812  2016     12   31  2300        46      0  2016.12.31        2  2017.1.2
27813  2016     12   31  2300        52      0  2016.12.31        3  2017.1.3
27814  2016     12   31  2300        58      0  2016.12.31        3  2017.1.3
27815  2016     12   31  2300        64      0  2016.12.31        3  2017.1.3

[27816 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         7      0  2017-02-01        0
1      2017      2    1   200        13      0  2017-02-01        0
2      2017      2    1   200        19      0  2017-02-01        0
3      2017      2    1   200        25      0  2017-02-01        1
4      2017      2    1   200        31      0  2017-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2017     13   31  2300        40      0  2018-01-31        2
27736  2017     13   31  2300        46      0  2018-01-31        2
27737  2017     13   31  2300        52      0  2018-01-31        3
27738  2017     13   31  2300        58      0  2018-01-31        3
27739  2017     13   31  2300        64      0  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-02
4      2017-02-02
...           ...
27735  2018-02-02
27736  2018-02-02
27737  2018-02-03
27738  2018-02-03
27739  2018-02-03

[27740 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         7      0  2017-01-01        0  2017-01-01
1     2017      1    1   200        13      0  2017-01-01        0  2017-01-01
2     2017      1    1   200        19      0  2017-01-01        0  2017-01-01
3     2017      1    1   200        25      0  2017-01-01        1  2017-01-02
4     2017      1    1   200        31      0  2017-01-01        1  2017-01-02
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
2351  2017      1   31  2300        40      0  2017-01-31        2  2017-02-02
2352  2017      1   31  2300        46      0  2017-01-31        2  2017-02-02
2353  2017      1   31  2300        52      0  2017-01-31        3  2017-02-03
2354  2017      1   31  2300        58      0  2017-01-31        3  2017-02-03
2355  2017      1   31  2300        64      0  2017-01-31        3  2017-02-03

[2356 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         7      0  2018-02-01        0
1      2018      2    1   200        13      0  2018-02-01        0
2      2018      2    1   200        19      0  2018-02-01        0
3      2018      2    1   200        25      0  2018-02-01        1
4      2018      2    1   200        31      0  2018-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2018     13   31  2300        40      0  2019-01-31        2
27736  2018     13   31  2300        46      5  2019-01-31        2
27737  2018     13   31  2300        52     10  2019-01-31        3
27738  2018     13   31  2300        58      5  2019-01-31        3
27739  2018     13   31  2300        64      1  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-02
4      2018-02-02
...           ...
27735  2019-02-02
27736  2019-02-02
27737  2019-02-03
27738  2019-02-03
27739  2019-02-03

[27740 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         7      0  2019-02-01        0
1      2019      2    1   200        13      0  2019-02-01        0
2      2019      2    1   200        19      0  2019-02-01        0
3      2019      2    1   200        25      0  2019-02-01        1
4      2019      2    1   200        31      0  2019-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2019     13   31  2300        40      0  2020-01-31        2
27736  2019     13   31  2300        46      0  2020-01-31        2
27737  2019     13   31  2300        52      0  2020-01-31        3
27738  2019     13   31  2300        58      0  2020-01-31        3
27739  2019     13   31  2300        64      0  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-02
4      2019-02-02
...           ...
27735  2020-02-02
27736  2020-02-02
27737  2020-02-03
27738  2020-02-03
27739  2020-02-03

[27740 rows x 9 columns]

/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:20: DtypeWarning: Columns (3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

         year  month  format: day    hour forecast  \
0         NaN      0          NaN     NaN      NaN
1      2009.0      1            1     200        4
2      2009.0      1            1     200        7
3      2009.0      1            1     200       10
4      2009.0      1            1     200       13
...       ...    ...          ...     ...      ...
92562  2009.0     24           31  2300.0     43.0
92563  2009.0     24           31  2300.0     46.0
92564  2009.0     24           31  2300.0     49.0
92565  2009.0     24           31  2300.0     52.0
92566  2009.0     24                  NaN      NaN

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                            0  2009-01-01       0  2009-01-01
2                                            0  2009-01-01       0  2009-01-01
3                                            0  2009-01-01       0  2009-01-01
4                                            0  2009-01-01       0  2009-01-01
...                                        ...         ...     ...         ...
92562                                      0.0  2010-12-31       2  2011-01-02
92563                                      0.0  2010-12-31       2  2011-01-02
92564                                      0.0  2010-12-31       3  2011-01-03
92565                                      0.0  2010-12-31       3  2011-01-03
92566                                      NaN     #VALUE!       0     #VALUE!

[92567 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2010.0      1           1.0   200.0       4.0
2      2010.0      1           1.0   200.0       7.0
3      2010.0      1           1.0   200.0      10.0
4      2010.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
48176  2010.0     12          31.0  2300.0      40.0
48177  2010.0     12          31.0  2300.0      43.0
48178  2010.0     12          31.0  2300.0      46.0
48179  2010.0     12          31.0  2300.0      49.0
48180  2010.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20100101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          20.0  2010-01-01      0.0
2                                          30.0  2010-01-01      0.0
3                                          30.0  2010-01-01      0.0
4                                          60.0  2010-01-01      0.0
...                                         ...         ...      ...
48176                                       0.0  2010-12-31      2.0
48177                                      10.0  2010-12-31      2.0
48178                                      10.0  2010-12-31      2.0
48179                                      10.0  2010-12-31      3.0
48180                                      20.0  2010-12-31      3.0

        timeStamp
0             NaN
1      2010-01-01
2      2010-01-01
3      2010-01-01
4      2010-01-01
...           ...
48176  2011-01-02
48177  2011-01-02
48178  2011-01-02
48179  2011-01-03
48180  2011-01-03

[48181 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2011.0      1           1.0   200.0       4.0
2      2011.0      1           1.0   200.0       7.0
3      2011.0      1           1.0   200.0      10.0
4      2011.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
44562  2011.0     12          31.0  2300.0      40.0
44563  2011.0     12          31.0  2300.0      43.0
44564  2011.0     12          31.0  2300.0      46.0
44565  2011.0     12          31.0  2300.0      49.0
44566  2011.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20110101         date  addDate  \
0                                           NaN         NaN      NaN
1                                           0.0  2011-01-01      0.0
2                                           0.0  2011-01-01      0.0
3                                           0.0  2011-01-01      0.0
4                                           0.0  2011-01-01      0.0
...                                         ...         ...      ...
44562                                      10.0  2011-12-31      2.0
44563                                      10.0  2011-12-31      2.0
44564                                      10.0  2011-12-31      2.0
44565                                      20.0  2011-12-31      3.0
44566                                      20.0  2011-12-31      3.0

        timeStamp
0             NaN
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
44562  2012-01-02
44563  2012-01-02
44564  2012-01-02
44565  2012-01-03
44566  2012-01-03

[44567 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2012.0      1           1.0   200.0       4.0
2      2012.0      1           1.0   200.0       7.0
3      2012.0      1           1.0   200.0      10.0
4      2012.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
46110  2012.0     12          31.0  2300.0      40.0
46111  2012.0     12          31.0  2300.0      43.0
46112  2012.0     12          31.0  2300.0      46.0
46113  2012.0     12          31.0  2300.0      49.0
46114  2012.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20120101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          30.0  2012-01-01      0.0
2                                          20.0  2012-01-01      0.0
3                                           0.0  2012-01-01      0.0
4                                           0.0  2012-01-01      0.0
...                                         ...         ...      ...
46110                                       0.0  2012-12-31      2.0
46111                                       0.0  2012-12-31      2.0
46112                                       0.0  2012-12-31      2.0
46113                                       0.0  2012-12-31      3.0
46114                                       0.0  2012-12-31      3.0

        timeStamp
0             NaN
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
46110  2013-01-02
46111  2013-01-02
46112  2013-01-02
46113  2013-01-03
46114  2013-01-03

[46115 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2013      1    1   200         4     60    2013.1.1        0  2013.1.1
1      2013      1    1   200         7     30    2013.1.1        0  2013.1.1
2      2013      1    1   200        10     70    2013.1.1        0  2013.1.1
3      2013      1    1   200        13     70    2013.1.1        0  2013.1.1
4      2013      1    1   200        16     20    2013.1.1        0  2013.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
48175  2013     12   31  2300        40     10  2013.12.31        2  2014.1.2
48176  2013     12   31  2300        43     20  2013.12.31        2  2014.1.2
48177  2013     12   31  2300        46     20  2013.12.31        2  2014.1.2
48178  2013     12   31  2300        49     20  2013.12.31        3  2014.1.3
48179  2013     12   31  2300        52     20  2013.12.31        3  2014.1.3

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4     20    2014.1.1        0  2014.1.1
1      2014      1    1   200         7     20    2014.1.1        0  2014.1.1
2      2014      1    1   200        10     10    2014.1.1        0  2014.1.1
3      2014      1    1   200        13     10    2014.1.1        0  2014.1.1
4      2014      1    1   200        16      0    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52     10  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55     20  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58     20  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61     20  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64     30  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4      0    2015.1.1        0  2015.1.1
1      2015      1    1   200         7      0    2015.1.1        0  2015.1.1
2      2015      1    1   200        10      0    2015.1.1        0  2015.1.1
3      2015      1    1   200        13     10    2015.1.1        0  2015.1.1
4      2015      1    1   200        16     10    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52514  2015     12   31  2300        52     20  2015.12.31        3  2016.1.3
52515  2015     12   31  2300        55     20  2015.12.31        3  2016.1.3
52516  2015     12   31  2300        58     20  2015.12.31        3  2016.1.3
52517  2015     12   31  2300        61     20  2015.12.31        3  2016.1.3
52518  2015     12   31  2300        64     20  2015.12.31        3  2016.1.3

[52519 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2016      1    1   200         4     20    2016.1.1        0  2016.1.1
1      2016      1    1   200         7     20    2016.1.1        0  2016.1.1
2      2016      1    1   200        10     20    2016.1.1        0  2016.1.1
3      2016      1    1   200        13     20    2016.1.1        0  2016.1.1
4      2016      1    1   200        16     30    2016.1.1        0  2016.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
54163  2016     12   31  2300        52      0  2016.12.31        3  2017.1.3
54164  2016     12   31  2300        55      0  2016.12.31        3  2017.1.3
54165  2016     12   31  2300        58      0  2016.12.31        3  2017.1.3
54166  2016     12   31  2300        61      0  2016.12.31        3  2017.1.3
54167  2016     12   31  2300        64      0  2016.12.31        3  2017.1.3

[54168 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4      0  2017-02-01        0
1      2017      2    1   200         7      0  2017-02-01        0
2      2017      2    1   200        10      0  2017-02-01        0
3      2017      2    1   200        13      0  2017-02-01        0
4      2017      2    1   200        16      0  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52     20  2018-01-31        3
54016  2017     13   31  2300        55     10  2018-01-31        3
54017  2017     13   31  2300        58     10  2018-01-31        3
54018  2017     13   31  2300        61     10  2018-01-31        3
54019  2017     13   31  2300        64     10  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4     20  2017-01-01        0  2017-01-01
1     2017      1    1   200         7     20  2017-01-01        0  2017-01-01
2     2017      1    1   200        10     20  2017-01-01        0  2017-01-01
3     2017      1    1   200        13     20  2017-01-01        0  2017-01-01
4     2017      1    1   200        16     30  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52     10  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55     20  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58     20  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61     20  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64     20  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         4      0  2018-02-01        0
1      2018      2    1   200         7      0  2018-02-01        0
2      2018      2    1   200        10      0  2018-02-01        0
3      2018      2    1   200        13      0  2018-02-01        0
4      2018      2    1   200        16      0  2018-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2018     13   31  2300        52     80  2019-01-31        3
54016  2018     13   31  2300        55     70  2019-01-31        3
54017  2018     13   31  2300        58     60  2019-01-31        3
54018  2018     13   31  2300        61     60  2019-01-31        3
54019  2018     13   31  2300        64     20  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54015  2019-02-03
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03

[54020 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4      0  2019-02-01        0
1      2019      2    1   200         7      0  2019-02-01        0
2      2019      2    1   200        10      0  2019-02-01        0
3      2019      2    1   200        13      0  2019-02-01        0
4      2019      2    1   200        16      0  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52     20  2020-01-31        3
54016  2019     13   31  2300        55     20  2020-01-31        3
54017  2019     13   31  2300        58     20  2020-01-31        3
54018  2019     13   31  2300        61      0  2020-01-31        3
54019  2019     13   31  2300        64      0  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]

/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:20: DtypeWarning: Columns (2,3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

         year  month  format: day  hour forecast  \
0         NaN      0          NaN   NaN      NaN
1      2009.0      1            1   200        4
2      2009.0      1            1   200        7
3      2009.0      1            1   200       10
4      2009.0      1            1   200       13
...       ...    ...          ...   ...      ...
92561  2009.0     24           31  2300       40
92562  2009.0     24           31  2300       43
92563  2009.0     24           31  2300       46
92564  2009.0     24           31  2300       49
92565  2009.0     24           31  2300       52

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                           35  2009-01-01       0  2009-01-01
2                                           45  2009-01-01       0  2009-01-01
3                                           55  2009-01-01       0  2009-01-01
4                                           55  2009-01-01       0  2009-01-01
...                                        ...         ...     ...         ...
92561                                       60  2010-12-31       2  2011-01-02
92562                                       56  2010-12-31       2  2011-01-02
92563                                       58  2010-12-31       2  2011-01-02
92564                                       55  2010-12-31       3  2011-01-03
92565                                       39  2010-12-31       3  2011-01-03

[92566 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2010.0      1           1.0   200.0       4.0
2         NaN      1           1.0   200.0       7.0
3         NaN      1           1.0   200.0      10.0
4         NaN      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
48176     NaN     12          31.0  2300.0      40.0
48177     NaN     12          31.0  2300.0      43.0
48178     NaN     12          31.0  2300.0      46.0
48179     NaN     12          31.0  2300.0      49.0
48180     NaN     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20100101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          43.0  2010-01-01      0.0
2                                          55.0  1900-01-01      0.0
3                                          67.0  1900-01-01      0.0
4                                          68.0  1900-01-01      0.0
...                                         ...         ...      ...
48176                                      80.0  1900-12-31      2.0
48177                                      80.0  1900-12-31      2.0
48178                                      80.0  1900-12-31      2.0
48179                                      70.0  1900-12-31      3.0
48180                                      50.0  1900-12-31      3.0

        timeStamp
0             NaN
1      2010-01-01
2      1900-01-01
3      1900-01-01
4      1900-01-01
...           ...
48176  1901-01-02
48177  1901-01-02
48178  1901-01-02
48179  1901-01-03
48180  1901-01-03

[48181 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2011.0      1           1.0   200.0       4.0
2      2011.0      1           1.0   200.0       7.0
3      2011.0      1           1.0   200.0      10.0
4      2011.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
44562  2011.0     12          31.0  2300.0      40.0
44563  2011.0     12          31.0  2300.0      43.0
44564  2011.0     12          31.0  2300.0      46.0
44565  2011.0     12          31.0  2300.0      49.0
44566  2011.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20110101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          35.0  2011-01-01      0.0
2                                          50.0  2011-01-01      0.0
3                                          55.0  2011-01-01      0.0
4                                          70.0  2011-01-01      0.0
...                                         ...         ...      ...
44562                                      55.0  2011-12-31      2.0
44563                                      55.0  2011-12-31      2.0
44564                                      50.0  2011-12-31      2.0
44565                                      45.0  2011-12-31      3.0
44566                                      35.0  2011-12-31      3.0

        timeStamp
0             NaN
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
44562  2012-01-02
44563  2012-01-02
44564  2012-01-02
44565  2012-01-03
44566  2012-01-03

[44567 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2012.0      1           1.0   200.0       4.0
2      2012.0      1           1.0   200.0       7.0
3      2012.0      1           1.0   200.0      10.0
4      2012.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
45234  2012.0     12          31.0  2300.0      40.0
45235  2012.0     12          31.0  2300.0      43.0
45236  2012.0     12          31.0  2300.0      46.0
45237  2012.0     12          31.0  2300.0      49.0
45238  2012.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20120101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          55.0  2012-01-01      0.0
2                                          45.0  2012-01-01      0.0
3                                          50.0  2012-01-01      0.0
4                                          55.0  2012-01-01      0.0
...                                         ...         ...      ...
45234                                      50.0  2012-12-31      2.0
45235                                      50.0  2012-12-31      2.0
45236                                      50.0  2012-12-31      2.0
45237                                      45.0  2012-12-31      3.0
45238                                      30.0  2012-12-31      3.0

        timeStamp
0             NaN
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
45234  2013-01-02
45235  2013-01-02
45236  2013-01-02
45237  2013-01-03
45238  2013-01-03

[45239 rows x 9 columns]
       year  month day    hour  forecast  value        date  addDate timestamp
0      2013      1   1   200.0       4.0   60.0    2013.1.1        0  2013.1.1
1      2013      1   1   200.0       7.0   50.0    2013.1.1        0  2013.1.1
2      2013      1   1   200.0      10.0   60.0    2013.1.1        0  2013.1.1
3      2013      1   1   200.0      13.0   70.0    2013.1.1        0  2013.1.1
4      2013      1   1   200.0      16.0   50.0    2013.1.1        0  2013.1.1
...     ...    ...  ..     ...       ...    ...         ...      ...       ...
48186  2013     12  31  2300.0      40.0   65.0  2013.12.31        2  2014.1.2
48187  2013     12  31  2300.0      43.0   69.0  2013.12.31        2  2014.1.2
48188  2013     12  31  2300.0      46.0   71.0  2013.12.31        2  2014.1.2
48189  2013     12  31  2300.0      49.0   61.0  2013.12.31        3  2014.1.3
48190  2013     12  31  2300.0      52.0   54.0  2013.12.31        3  2014.1.3

[48191 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4     40    2014.1.1        0  2014.1.1
1      2014      1    1   200         7     55    2014.1.1        0  2014.1.1
2      2014      1    1   200        10     65    2014.1.1        0  2014.1.1
3      2014      1    1   200        13     55    2014.1.1        0  2014.1.1
4      2014      1    1   200        16     55    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52     50  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55     55  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58     60  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61     70  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64     75  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4     30    2015.1.1        0  2015.1.1
1      2015      1    1   200         7     45    2015.1.1        0  2015.1.1
2      2015      1    1   200        10     50    2015.1.1        0  2015.1.1
3      2015      1    1   200        13     55    2015.1.1        0  2015.1.1
4      2015      1    1   200        16     60    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52182  2015     12   31  2300        52     70  2015.12.31        3  2016.1.3
52183  2015     12   31  2300        55     60  2015.12.31        3  2016.1.3
52184  2015     12   31  2300        58     70  2015.12.31        3  2016.1.3
52185  2015     12   31  2300        61     80  2015.12.31        3  2016.1.3
52186  2015     12   31  2300        64     85  2015.12.31        3  2016.1.3

[52187 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2016      1    1   200         4     55    2016.1.1        0  2016.1.1
1      2016      1    1   200         7     65    2016.1.1        0  2016.1.1
2      2016      1    1   200        10     75    2016.1.1        0  2016.1.1
3      2016      1    1   200        13     80    2016.1.1        0  2016.1.1
4      2016      1    1   200        16     80    2016.1.1        0  2016.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
54163  2016     12   31  2300        52     50  2016.12.31        3  2017.1.3
54164  2016     12   31  2300        55     40  2016.12.31        3  2017.1.3
54165  2016     12   31  2300        58     60  2016.12.31        3  2017.1.3
54166  2016     12   31  2300        61     65  2016.12.31        3  2017.1.3
54167  2016     12   31  2300        64     75  2016.12.31        3  2017.1.3

[54168 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4     20  2017-02-01        0
1      2017      2    1   200         7     25  2017-02-01        0
2      2017      2    1   200        10     40  2017-02-01        0
3      2017      2    1   200        13     50  2017-02-01        0
4      2017      2    1   200        16     50  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52     30  2018-01-31        3
54016  2017     13   31  2300        55     30  2018-01-31        3
54017  2017     13   31  2300        58     35  2018-01-31        3
54018  2017     13   31  2300        61     45  2018-01-31        3
54019  2017     13   31  2300        64     40  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4     55  2017-01-01        0  2017-01-01
1     2017      1    1   200         7     60  2017-01-01        0  2017-01-01
2     2017      1    1   200        10     70  2017-01-01        0  2017-01-01
3     2017      1    1   200        13     75  2017-01-01        0  2017-01-01
4     2017      1    1   200        16     80  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52     45  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55     45  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58     60  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61     70  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64     75  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month day    hour  forecast  value        date  addDate  \
0      2018      2   1   200.0       4.0   30.0  2018-02-01        0
1      2018      2   1   200.0       7.0   35.0  2018-02-01        0
2      2018      2   1   200.0      10.0   55.0  2018-02-01        0
3      2018      2   1   200.0      13.0   55.0  2018-02-01        0
4      2018      2   1   200.0      16.0   65.0  2018-02-01        0
...     ...    ...  ..     ...       ...    ...         ...      ...
54016  2018     13  31  2300.0      52.0   85.0  2019-01-31        3
54017  2018     13  31  2300.0      55.0   80.0  2019-01-31        3
54018  2018     13  31  2300.0      58.0   75.0  2019-01-31        3
54019  2018     13  31  2300.0      61.0   75.0  2019-01-31        3
54020  2018     13  31  2300.0      64.0   70.0  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03
54020  2019-02-03

[54021 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4     35  2019-02-01        0
1      2019      2    1   200         7     45  2019-02-01        0
2      2019      2    1   200        10     55  2019-02-01        0
3      2019      2    1   200        13     65  2019-02-01        0
4      2019      2    1   200        16     70  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52     45  2020-01-31        3
54016  2019     13   31  2300        55     40  2020-01-31        3
54017  2019     13   31  2300        58     50  2020-01-31        3
54018  2019     13   31  2300        61     65  2020-01-31        3
54019  2019     13   31  2300        64     70  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]
         year  month  format: day  hour forecast  \
0         NaN      0          NaN   NaN      NaN
1      2009.0      1            1   200        4
2      2009.0      1            1   200        7
3      2009.0      1            1   500        4
4      2009.0      1            1   800        4
...       ...    ...          ...   ...      ...
10947  2009.0     24           31  1700        7
10948  2009.0     24           31  2000        4
10949  2009.0     24           31  2000        7
10950  2009.0     24           31  2300        4
10951  2009.0     24           31  2300        7

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                            1  2009-01-01       0  2009-01-01
2                                            3  2009-01-01       0  2009-01-01
3                                            3  2009-01-01       0  2009-01-01
4                                            3  2009-01-01       0  2009-01-01
...                                        ...         ...     ...         ...
10947                                        2  2010-12-31       1  2011-01-01
10948                                     -2.9  2010-12-31       1  2011-01-01
10949                                        2  2010-12-31       1  2011-01-01
10950                                     -2.9  2010-12-31       1  2011-01-01
10951                                        2  2010-12-31       1  2011-01-01

[10952 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2010.0      1           1.0   200.0       4.0
2     2010.0      1           1.0   200.0       7.0
3     2010.0      1           1.0   500.0       4.0
4     2010.0      1           1.0   800.0       4.0
...      ...    ...           ...     ...       ...
5471  2010.0     12          31.0  1700.0       7.0
5472  2010.0     12          31.0  2000.0       4.0
5473  2010.0     12          31.0  2000.0       7.0
5474  2010.0     12          31.0  2300.0       4.0
5475  2010.0     12          31.0  2300.0       7.0

      value  location:60_124 Start : 20100101         date  addDate  \
0                                          NaN         NaN      NaN
1                                         -2.9  2010-01-01      0.0
2                                          2.0  2010-01-01      0.0
3                                          2.0  2010-01-01      0.0
4                                          1.0  2010-01-01      0.0
...                                        ...         ...      ...
5471                                       1.0  2010-12-31      1.0
5472                                      -1.9  2010-12-31      1.0
5473                                       1.0  2010-12-31      1.0
5474                                      -1.9  2010-12-31      1.0
5475                                       1.0  2010-12-31      1.0

       timeStamp
0            NaN
1     2010-01-01
2     2010-01-01
3     2010-01-01
4     2010-01-01
...          ...
5471  2011-01-01
5472  2011-01-01
5473  2011-01-01
5474  2011-01-01
5475  2011-01-01

[5476 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2011.0      1           1.0   200.0       4.0
2     2011.0      1           1.0   200.0       7.0
3     2011.0      1           1.0   500.0       4.0
4     2011.0      1           1.0   800.0       4.0
...      ...    ...           ...     ...       ...
5038  2011.0     12          31.0  1700.0       7.0
5039  2011.0     12          31.0  2000.0       4.0
5040  2011.0     12          31.0  2000.0       7.0
5041  2011.0     12          31.0  2300.0       4.0
5042  2011.0     12          31.0  2300.0       7.0

      value  location:60_124 Start : 20110101         date  addDate  \
0                                          NaN         NaN      NaN
1                                         -1.9  2011-01-01      0.0
2                                          1.0  2011-01-01      0.0
3                                          1.0  2011-01-01      0.0
4                                          0.0  2011-01-01      0.0
...                                        ...         ...      ...
5038                                       1.0  2011-12-31      1.0
5039                                       1.0  2011-12-31      1.0
5040                                       0.0  2011-12-31      1.0
5041                                       1.0  2011-12-31      1.0
5042                                       0.0  2011-12-31      1.0

       timeStamp
0            NaN
1     2011-01-01
2     2011-01-01
3     2011-01-01
4     2011-01-01
...          ...
5038  2012-01-01
5039  2012-01-01
5040  2012-01-01
5041  2012-01-01
5042  2012-01-01

[5043 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2012.0      1           1.0   200.0       4.0
2     2012.0      1           1.0   200.0       7.0
3     2012.0      1           1.0   500.0       4.0
4     2012.0      1           1.0   800.0       4.0

/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:20: DtypeWarning: Columns (2,3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

         year  month  format: day  hour forecast  \
0         NaN      0          NaN   NaN      NaN
1      2009.0      1            1   200        4
2      2009.0      1            1   200        7
3      2009.0      1            1   200       10
4      2009.0      1            1   200       13
...       ...    ...          ...   ...      ...
84641  2009.0     22           31  2300       40
84642  2009.0     22           31  2300       43
84643  2009.0     22           31  2300       46
84644  2009.0     22           31  2300       49
84645  2009.0     22           31  2300       52

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                            1  2009-01-01       0  2009-01-01
2                                            1  2009-01-01       0  2009-01-01
3                                            1  2009-01-01       0  2009-01-01
4                                            1  2009-01-01       0  2009-01-01
...                                        ...         ...     ...         ...
84641                                        1  2010-10-31       2  2010-11-02
84642                                        1  2010-10-31       2  2010-11-02
84643                                        1  2010-10-31       2  2010-11-02
84644                                        1  2010-10-31       3  2010-11-03
84645                                        2  2010-10-31       3  2010-11-03

[84646 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2010.0      1           1.0   200.0       4.0
2      2010.0      1           1.0   200.0       7.0
3      2010.0      1           1.0   200.0      10.0
4      2010.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
44084  2010.0     11          31.0  2300.0      40.0
44085  2010.0     11          31.0  2300.0      43.0
44086  2010.0     11          31.0  2300.0      46.0
44087  2010.0     11          31.0  2300.0      49.0
44088  2010.0     11          31.0  2300.0      52.0

       value  location:60_124 Start : 20100101         date  addDate  \
0                                           NaN         NaN      NaN
1                                           3.0  2010-01-01      0.0
2                                           4.0  2010-01-01      0.0
3                                           4.0  2010-01-01      0.0
4                                           4.0  2010-01-01      0.0
...                                         ...         ...      ...
44084                                       1.0  2010-12-01      2.0
44085                                       2.0  2010-12-01      2.0
44086                                       2.0  2010-12-01      2.0
44087                                       2.0  2010-12-01      3.0
44088                                       3.0  2010-12-01      3.0

        timeStamp
0             NaN
1      2010-01-01
2      2010-01-01
3      2010-01-01
4      2010-01-01
...           ...
44084  2010-12-03
44085  2010-12-03
44086  2010-12-03
44087  2010-12-04
44088  2010-12-04

[44089 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2011.0      1           1.0   200.0       4.0
2      2011.0      1           1.0   200.0       7.0
3      2011.0      1           1.0   200.0      10.0
4      2011.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
40470  2011.0     11          31.0  2300.0      40.0
40471  2011.0     11          31.0  2300.0      43.0
40472  2011.0     11          31.0  2300.0      46.0
40473  2011.0     11          31.0  2300.0      49.0
40474  2011.0     11          31.0  2300.0      52.0

       value  location:60_124 Start : 20110101         date  addDate  \
0                                           NaN         NaN      NaN
1                                           1.0  2011-01-01      0.0
2                                           1.0  2011-01-01      0.0
3                                           1.0  2011-01-01      0.0
4                                           1.0  2011-01-01      0.0
...                                         ...         ...      ...
40470                                       2.0  2011-12-01      2.0
40471                                       2.0  2011-12-01      2.0
40472                                       2.0  2011-12-01      2.0
40473                                       3.0  2011-12-01      3.0
40474                                       3.0  2011-12-01      3.0

        timeStamp
0             NaN
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
40470  2011-12-03
40471  2011-12-03
40472  2011-12-03
40473  2011-12-04
40474  2011-12-04

[40475 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2012.0      1           1.0   200.0       4.0
2      2012.0      1           1.0   200.0       7.0
3      2012.0      1           1.0   200.0      10.0
4      2012.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
32201  2012.0      8          31.0  2300.0      40.0
32202  2012.0      8          31.0  2300.0      43.0
32203  2012.0      8          31.0  2300.0      46.0
32204  2012.0      8          31.0  2300.0      49.0
32205  2012.0      8          31.0  2300.0      52.0

       value  location:60_124 Start : 20120101         date  addDate  \
0                                           NaN         NaN      NaN
1                                           4.0  2012-01-01      0.0
2                                           3.0  2012-01-01      0.0
3                                           1.0  2012-01-01      0.0
4                                           1.0  2012-01-01      0.0
...                                         ...         ...      ...
32201                                       1.0  2012-08-31      2.0
32202                                       1.0  2012-08-31      2.0
32203                                       1.0  2012-08-31      2.0
32204                                       1.0  2012-08-31      3.0
32205                                       1.0  2012-08-31      3.0

        timeStamp
0             NaN
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
32201  2012-09-02
32202  2012-09-02
32203  2012-09-02
32204  2012-09-03
32205  2012-09-03

[32206 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2013      1    1   200         4      4    2013.1.1        0  2013.1.1
1      2013      1    1   200         7      4    2013.1.1        0  2013.1.1
2      2013      1    1   200        10      4    2013.1.1        0  2013.1.1
3      2013      1    1   200        13      4    2013.1.1        0  2013.1.1
4      2013      1    1   200        16      2    2013.1.1        0  2013.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
48175  2013     12   31  2300        40      2  2013.12.31        2  2014.1.2
48176  2013     12   31  2300        43      3  2013.12.31        2  2014.1.2
48177  2013     12   31  2300        46      3  2013.12.31        2  2014.1.2
48178  2013     12   31  2300        49      3  2013.12.31        3  2014.1.3
48179  2013     12   31  2300        52      3  2013.12.31        3  2014.1.3

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4      3    2014.1.1        0  2014.1.1
1      2014      1    1   200         7      3    2014.1.1        0  2014.1.1
2      2014      1    1   200        10      2    2014.1.1        0  2014.1.1
3      2014      1    1   200        13      2    2014.1.1        0  2014.1.1
4      2014      1    1   200        16      1    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52      2  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55      3  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58      3  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61      3  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64      4  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4      1    2015.1.1        0  2015.1.1
1      2015      1    1   200         7      1    2015.1.1        0  2015.1.1
2      2015      1    1   200        10      1    2015.1.1        0  2015.1.1
3      2015      1    1   200        13      2    2015.1.1        0  2015.1.1
4      2015      1    1   200        16      2    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52514  2015     12   31  2300        52      3  2015.12.31        3  2016.1.3
52515  2015     12   31  2300        55      3  2015.12.31        3  2016.1.3
52516  2015     12   31  2300        58      3  2015.12.31        3  2016.1.3
52517  2015     12   31  2300        61      3  2015.12.31        3  2016.1.3
52518  2015     12   31  2300        64      3  2015.12.31        3  2016.1.3

[52519 rows x 9 columns]
       year  month day    hour  forecast  value       date  addDate  timestamp
0      2016      1   1   200.0       4.0    1.0   2016.1.1        0   2016.1.1
1      2016      1   1   200.0       7.0    1.0   2016.1.1        0   2016.1.1
2      2016      1   1   200.0      10.0    1.0   2016.1.1        0   2016.1.1
3      2016      1   1   200.0      13.0    1.0   2016.1.1        0   2016.1.1
4      2016      1   1   200.0      16.0    1.0   2016.1.1        0   2016.1.1
...     ...    ...  ..     ...       ...    ...        ...      ...        ...
49585  2016     11  31  2300.0      52.0    1.0  2016.12.1        3  2016.12.4
49586  2016     11  31  2300.0      55.0    1.0  2016.12.1        3  2016.12.4
49587  2016     11  31  2300.0      58.0    1.0  2016.12.1        3  2016.12.4
49588  2016     11  31  2300.0      61.0    1.0  2016.12.1        3  2016.12.4
49589  2016     11  31  2300.0      64.0    1.0  2016.12.1        3  2016.12.4

[49590 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4      1  2017-02-01        0
1      2017      2    1   200         7      1  2017-02-01        0
2      2017      2    1   200        10      1  2017-02-01        0
3      2017      2    1   200        13      1  2017-02-01        0
4      2017      2    1   200        16      1  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52      3  2018-01-31        3
54016  2017     13   31  2300        55      2  2018-01-31        3
54017  2017     13   31  2300        58      2  2018-01-31        3
54018  2017     13   31  2300        61      2  2018-01-31        3
54019  2017     13   31  2300        64      2  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4      3  2017-01-01        0  2017-01-01
1     2017      1    1   200         7      3  2017-01-01        0  2017-01-01
2     2017      1    1   200        10      3  2017-01-01        0  2017-01-01
3     2017      1    1   200        13      3  2017-01-01        0  2017-01-01
4     2017      1    1   200        16      4  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52      2  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55      3  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58      3  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61      3  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64      3  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         4      1  2018-02-01        0
1      2018      2    1   200         7      1  2018-02-01        0
2      2018      2    1   200        10      1  2018-02-01        0
3      2018      2    1   200        13      1  2018-02-01        0
4      2018      2    1   200        16      1  2018-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2018     13   31  2300        52      4  2019-01-31        3
54016  2018     13   31  2300        55      4  2019-01-31        3
54017  2018     13   31  2300        58      4  2019-01-31        3
54018  2018     13   31  2300        61      4  2019-01-31        3
54019  2018     13   31  2300        64      3  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54015  2019-02-03
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03

[54020 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4      1  2019-02-01        0
1      2019      2    1   200         7      1  2019-02-01        0
2      2019      2    1   200        10      1  2019-02-01        0
3      2019      2    1   200        13      1  2019-02-01        0
4      2019      2    1   200        16      1  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52      3  2020-01-31        3
54016  2019     13   31  2300        55      3  2020-01-31        3
54017  2019     13   31  2300        58      3  2020-01-31        3
54018  2019     13   31  2300        61      1  2020-01-31        3
54019  2019     13   31  2300        64      1  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]
         year  month  format: day  hour forecast  \
0         NaN      0          NaN   NaN      NaN
1      2009.0      1            1   200        4
2      2009.0      1            1   200        7
3      2009.0      1            1   200       10
4      2009.0      1            1   200       13
...       ...    ...          ...   ...      ...
10941  2009.0     16           30  2300        4
10942  2009.0     16           30  2300        7
10943  2009.0     16           30  2300       10
10944  2009.0     16           30  2300       13
10945  2009.0     16           30  2300       16

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                            0  2009-01-01       0  2009-01-01
2                                            0  2009-01-01       0  2009-01-02
3                                            0  2009-01-01       0  2009-01-03
4                                            0  2009-01-01       0  2009-01-04
...                                        ...         ...     ...         ...
10941                                        0  2010-04-30       1  2038-12-15
10942                                        0  2010-04-30       1  2038-12-16
10943                                        0  2010-04-30       1  2038-12-17
10944                                        0  2010-04-30       1  2038-12-18
10945                                        5  2010-04-30       1  2038-12-19

[10946 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2010.0      1           1.0   200.0       4.0
2     2010.0      1           1.0   200.0       7.0
3     2010.0      1           1.0   200.0      10.0
4     2010.0      1           1.0   200.0      13.0
...      ...    ...           ...     ...       ...
9860  2010.0     12          31.0  2300.0       4.0
9861  2010.0     12          31.0  2300.0       7.0
9862  2010.0     12          31.0  2300.0      10.0
9863  2010.0     12          31.0  2300.0      13.0
9864  2010.0     12          31.0  2300.0      16.0

      value  location:60_124 Start : 20100101         date  addDate  \
0                                          NaN         NaN      NaN
1                                          1.0  2010-01-01      0.0
2                                          5.0  2010-01-01      0.0
3                                          0.0  2010-01-01      0.0
4                                          0.0  2010-01-01      0.0
...                                        ...         ...      ...
9860                                       0.0  2010-12-31      1.0
9861                                       0.0  2010-12-31      1.0
9862                                       0.0  2010-12-31      1.0
9863                                       0.0  2010-12-31      1.0
9864                                       0.0  2010-12-31      1.0

       timeStamp
0            NaN
1     2010-01-01
2     2010-01-01
3     2010-01-01
4     2010-01-01
...          ...
9860  2011-01-01
9861  2011-01-01
9862  2011-01-01
9863  2011-01-01
9864  2011-01-01

[9865 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2011.0      1           1.0   200.0       4.0
2     2011.0      1           1.0   200.0       7.0
3     2011.0      1           1.0   200.0      10.0
4     2011.0      1           1.0   200.0      13.0
...      ...    ...           ...     ...       ...
4482  2011.0      8          30.0  2300.0       4.0
4483  2011.0      8          30.0  2300.0       7.0
4484  2011.0      8          30.0  2300.0      10.0
4485  2011.0      8          30.0  2300.0      13.0
4486  2011.0      8          30.0  2300.0      16.0

      value  location:60_124 Start : 20110101         date  addDate  \
0                                          NaN         NaN      NaN
1                                          0.0  2011-01-01      0.0
2                                          0.0  2011-01-01      0.0
3                                          0.0  2011-01-01      0.0
4                                          0.0  2011-01-01      0.0
...                                        ...         ...      ...
4482                                       0.0  2011-08-30      1.0
4483                                       0.0  2011-08-30      1.0
4484                                       0.0  2011-08-30      1.0
4485                                       0.0  2011-08-30      1.0
4486                                       5.0  2011-08-30      1.0

       timeStamp
0            NaN
1     2011-01-01
2     2011-01-01
3     2011-01-01
4     2011-01-01
...          ...
4482  2011-08-31
4483  2011-08-31
4484  2011-08-31
4485  2011-08-31
4486  2011-08-31

[4487 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2012.0      1           1.0   200.0       4.0
2     2012.0      1           1.0   200.0       7.0
3     2012.0      1           1.0   200.0      10.0
4     2012.0      1           1.0   200.0      13.0

/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:20: DtypeWarning: Columns (3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

         year  month  format: day    hour forecast  \
0         NaN      0          NaN     NaN      NaN
1      2009.0      1            1     200        4
2      2009.0      1            1     200        7
3      2009.0      1            1     200       10
4      2009.0      1            1     200       13
...       ...    ...          ...     ...      ...
92562  2009.0     24           31  2300.0     43.0
92563  2009.0     24           31  2300.0     46.0
92564  2009.0     24           31  2300.0     49.0
92565  2009.0     24           31  2300.0     52.0
92566  2009.0     24                  NaN      NaN

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                            0  2009-01-01       0  2009-01-01
2                                            0  2009-01-01       0  2009-01-01
3                                            0  2009-01-01       0  2009-01-01
4                                            0  2009-01-01       0  2009-01-01
...                                        ...         ...     ...         ...
92562                                      0.0  2010-12-31       2  2011-01-02
92563                                      0.0  2010-12-31       2  2011-01-02
92564                                      0.0  2010-12-31       3  2011-01-03
92565                                      0.0  2010-12-31       3  2011-01-03
92566                                      NaN     #VALUE!       0     #VALUE!

[92567 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2010.0      1           1.0   200.0       4.0
2      2010.0      1           1.0   200.0       7.0
3      2010.0      1           1.0   200.0      10.0
4      2010.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
48176  2010.0     12          31.0  2300.0      40.0
48177  2010.0     12          31.0  2300.0      43.0
48178  2010.0     12          31.0  2300.0      46.0
48179  2010.0     12          31.0  2300.0      49.0
48180  2010.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20100101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          20.0  2010-01-01      0.0
2                                          30.0  2010-01-01      0.0
3                                          30.0  2010-01-01      0.0
4                                          60.0  2010-01-01      0.0
...                                         ...         ...      ...
48176                                       0.0  2010-12-31      2.0
48177                                      10.0  2010-12-31      2.0
48178                                      10.0  2010-12-31      2.0
48179                                      10.0  2010-12-31      3.0
48180                                      20.0  2010-12-31      3.0

        timeStamp
0             NaN
1      2010-01-01
2      2010-01-01
3      2010-01-01
4      2010-01-01
...           ...
48176  2011-01-02
48177  2011-01-02
48178  2011-01-02
48179  2011-01-03
48180  2011-01-03

[48181 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2011.0      1           1.0   200.0       4.0
2      2011.0      1           1.0   200.0       7.0
3      2011.0      1           1.0   200.0      10.0
4      2011.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
44562  2011.0     12          31.0  2300.0      40.0
44563  2011.0     12          31.0  2300.0      43.0
44564  2011.0     12          31.0  2300.0      46.0
44565  2011.0     12          31.0  2300.0      49.0
44566  2011.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20110101         date  addDate  \
0                                           NaN         NaN      NaN
1                                           0.0  2011-01-01      0.0
2                                           0.0  2011-01-01      0.0
3                                           0.0  2011-01-01      0.0
4                                           0.0  2011-01-01      0.0
...                                         ...         ...      ...
44562                                      10.0  2011-12-31      2.0
44563                                      10.0  2011-12-31      2.0
44564                                      10.0  2011-12-31      2.0
44565                                      20.0  2011-12-31      3.0
44566                                      20.0  2011-12-31      3.0

        timeStamp
0             NaN
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
44562  2012-01-02
44563  2012-01-02
44564  2012-01-02
44565  2012-01-03
44566  2012-01-03

[44567 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2012.0      1           1.0   200.0       4.0
2      2012.0      1           1.0   200.0       7.0
3      2012.0      1           1.0   200.0      10.0
4      2012.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
46110  2012.0     12          31.0  2300.0      40.0
46111  2012.0     12          31.0  2300.0      43.0
46112  2012.0     12          31.0  2300.0      46.0
46113  2012.0     12          31.0  2300.0      49.0
46114  2012.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20120101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          30.0  2012-01-01      0.0
2                                          20.0  2012-01-01      0.0
3                                           0.0  2012-01-01      0.0
4                                           0.0  2012-01-01      0.0
...                                         ...         ...      ...
46110                                       0.0  2012-12-31      2.0
46111                                       0.0  2012-12-31      2.0
46112                                       0.0  2012-12-31      2.0
46113                                       0.0  2012-12-31      3.0
46114                                       0.0  2012-12-31      3.0

        timeStamp
0             NaN
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
46110  2013-01-02
46111  2013-01-02
46112  2013-01-02
46113  2013-01-03
46114  2013-01-03

[46115 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2013      1    1   200         4     60    2013.1.1        0  2013.1.1
1      2013      1    1   200         7     30    2013.1.1        0  2013.1.1
2      2013      1    1   200        10     70    2013.1.1        0  2013.1.1
3      2013      1    1   200        13     70    2013.1.1        0  2013.1.1
4      2013      1    1   200        16     20    2013.1.1        0  2013.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
48175  2013     12   31  2300        40     10  2013.12.31        2  2014.1.2
48176  2013     12   31  2300        43     20  2013.12.31        2  2014.1.2
48177  2013     12   31  2300        46     20  2013.12.31        2  2014.1.2
48178  2013     12   31  2300        49     20  2013.12.31        3  2014.1.3
48179  2013     12   31  2300        52     20  2013.12.31        3  2014.1.3

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4     20    2014.1.1        0  2014.1.1
1      2014      1    1   200         7     20    2014.1.1        0  2014.1.1
2      2014      1    1   200        10     10    2014.1.1        0  2014.1.1
3      2014      1    1   200        13     10    2014.1.1        0  2014.1.1
4      2014      1    1   200        16      0    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52     10  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55     20  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58     20  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61     20  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64     30  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4      0    2015.1.1        0  2015.1.1
1      2015      1    1   200         7      0    2015.1.1        0  2015.1.1
2      2015      1    1   200        10      0    2015.1.1        0  2015.1.1
3      2015      1    1   200        13     10    2015.1.1        0  2015.1.1
4      2015      1    1   200        16     10    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52514  2015     12   31  2300        52     20  2015.12.31        3  2016.1.3
52515  2015     12   31  2300        55     20  2015.12.31        3  2016.1.3
52516  2015     12   31  2300        58     20  2015.12.31        3  2016.1.3
52517  2015     12   31  2300        61     20  2015.12.31        3  2016.1.3
52518  2015     12   31  2300        64     20  2015.12.31        3  2016.1.3

[52519 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2016      1    1   200         4     20    2016.1.1        0  2016.1.1
1      2016      1    1   200         7     20    2016.1.1        0  2016.1.1
2      2016      1    1   200        10     20    2016.1.1        0  2016.1.1
3      2016      1    1   200        13     20    2016.1.1        0  2016.1.1
4      2016      1    1   200        16     30    2016.1.1        0  2016.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
54163  2016     12   31  2300        52      0  2016.12.31        3  2017.1.3
54164  2016     12   31  2300        55      0  2016.12.31        3  2017.1.3
54165  2016     12   31  2300        58      0  2016.12.31        3  2017.1.3
54166  2016     12   31  2300        61      0  2016.12.31        3  2017.1.3
54167  2016     12   31  2300        64      0  2016.12.31        3  2017.1.3

[54168 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4      0  2017-02-01        0
1      2017      2    1   200         7      0  2017-02-01        0
2      2017      2    1   200        10      0  2017-02-01        0
3      2017      2    1   200        13      0  2017-02-01        0
4      2017      2    1   200        16      0  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52     20  2018-01-31        3
54016  2017     13   31  2300        55     10  2018-01-31        3
54017  2017     13   31  2300        58     10  2018-01-31        3
54018  2017     13   31  2300        61     10  2018-01-31        3
54019  2017     13   31  2300        64     10  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4     20  2017-01-01        0  2017-01-01
1     2017      1    1   200         7     20  2017-01-01        0  2017-01-01
2     2017      1    1   200        10     20  2017-01-01        0  2017-01-01
3     2017      1    1   200        13     20  2017-01-01        0  2017-01-01
4     2017      1    1   200        16     30  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52     10  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55     20  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58     20  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61     20  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64     20  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         4      0  2018-02-01        0
1      2018      2    1   200         7      0  2018-02-01        0
2      2018      2    1   200        10      0  2018-02-01        0
3      2018      2    1   200        13      0  2018-02-01        0
4      2018      2    1   200        16      0  2018-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2018     13   31  2300        52     80  2019-01-31        3
54016  2018     13   31  2300        55     70  2019-01-31        3
54017  2018     13   31  2300        58     60  2019-01-31        3
54018  2018     13   31  2300        61     60  2019-01-31        3
54019  2018     13   31  2300        64     20  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54015  2019-02-03
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03

[54020 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4      0  2019-02-01        0
1      2019      2    1   200         7      0  2019-02-01        0
2      2019      2    1   200        10      0  2019-02-01        0
3      2019      2    1   200        13      0  2019-02-01        0
4      2019      2    1   200        16      0  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52     20  2020-01-31        3
54016  2019     13   31  2300        55     20  2020-01-31        3
54017  2019     13   31  2300        58     20  2020-01-31        3
54018  2019     13   31  2300        61      0  2020-01-31        3
54019  2019     13   31  2300        64      0  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]

/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:20: DtypeWarning: Columns (2,3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

         year  month  format: day  hour forecast  \
0         NaN      0          NaN   NaN      NaN
1      2009.0      1            1   200        4
2      2009.0      1            1   200        7
3      2009.0      1            1   200       10
4      2009.0      1            1   200       13
...       ...    ...          ...   ...      ...
92561  2009.0     24           31  2300       40
92562  2009.0     24           31  2300       43
92563  2009.0     24           31  2300       46
92564  2009.0     24           31  2300       49
92565  2009.0     24           31  2300       52

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                           35  2009-01-01       0  2009-01-01
2                                           45  2009-01-01       0  2009-01-01
3                                           55  2009-01-01       0  2009-01-01
4                                           55  2009-01-01       0  2009-01-01
...                                        ...         ...     ...         ...
92561                                       60  2010-12-31       2  2011-01-02
92562                                       56  2010-12-31       2  2011-01-02
92563                                       58  2010-12-31       2  2011-01-02
92564                                       55  2010-12-31       3  2011-01-03
92565                                       39  2010-12-31       3  2011-01-03

[92566 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2010.0      1           1.0   200.0       4.0
2         NaN      1           1.0   200.0       7.0
3         NaN      1           1.0   200.0      10.0
4         NaN      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
48176     NaN     12          31.0  2300.0      40.0
48177     NaN     12          31.0  2300.0      43.0
48178     NaN     12          31.0  2300.0      46.0
48179     NaN     12          31.0  2300.0      49.0
48180     NaN     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20100101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          43.0  2010-01-01      0.0
2                                          55.0  1900-01-01      0.0
3                                          67.0  1900-01-01      0.0
4                                          68.0  1900-01-01      0.0
...                                         ...         ...      ...
48176                                      80.0  1900-12-31      2.0
48177                                      80.0  1900-12-31      2.0
48178                                      80.0  1900-12-31      2.0
48179                                      70.0  1900-12-31      3.0
48180                                      50.0  1900-12-31      3.0

        timeStamp
0             NaN
1      2010-01-01
2      1900-01-01
3      1900-01-01
4      1900-01-01
...           ...
48176  1901-01-02
48177  1901-01-02
48178  1901-01-02
48179  1901-01-03
48180  1901-01-03

[48181 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2011.0      1           1.0   200.0       4.0
2      2011.0      1           1.0   200.0       7.0
3      2011.0      1           1.0   200.0      10.0
4      2011.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
44562  2011.0     12          31.0  2300.0      40.0
44563  2011.0     12          31.0  2300.0      43.0
44564  2011.0     12          31.0  2300.0      46.0
44565  2011.0     12          31.0  2300.0      49.0
44566  2011.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20110101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          35.0  2011-01-01      0.0
2                                          50.0  2011-01-01      0.0
3                                          55.0  2011-01-01      0.0
4                                          70.0  2011-01-01      0.0
...                                         ...         ...      ...
44562                                      55.0  2011-12-31      2.0
44563                                      55.0  2011-12-31      2.0
44564                                      50.0  2011-12-31      2.0
44565                                      45.0  2011-12-31      3.0
44566                                      35.0  2011-12-31      3.0

        timeStamp
0             NaN
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
44562  2012-01-02
44563  2012-01-02
44564  2012-01-02
44565  2012-01-03
44566  2012-01-03

[44567 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2012.0      1           1.0   200.0       4.0
2      2012.0      1           1.0   200.0       7.0
3      2012.0      1           1.0   200.0      10.0
4      2012.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
45234  2012.0     12          31.0  2300.0      40.0
45235  2012.0     12          31.0  2300.0      43.0
45236  2012.0     12          31.0  2300.0      46.0
45237  2012.0     12          31.0  2300.0      49.0
45238  2012.0     12          31.0  2300.0      52.0

       value  location:60_124 Start : 20120101         date  addDate  \
0                                           NaN         NaN      NaN
1                                          55.0  2012-01-01      0.0
2                                          45.0  2012-01-01      0.0
3                                          50.0  2012-01-01      0.0
4                                          55.0  2012-01-01      0.0
...                                         ...         ...      ...
45234                                      50.0  2012-12-31      2.0
45235                                      50.0  2012-12-31      2.0
45236                                      50.0  2012-12-31      2.0
45237                                      45.0  2012-12-31      3.0
45238                                      30.0  2012-12-31      3.0

        timeStamp
0             NaN
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
45234  2013-01-02
45235  2013-01-02
45236  2013-01-02
45237  2013-01-03
45238  2013-01-03

[45239 rows x 9 columns]
       year  month day    hour  forecast  value        date  addDate timestamp
0      2013      1   1   200.0       4.0   60.0    2013.1.1        0  2013.1.1
1      2013      1   1   200.0       7.0   50.0    2013.1.1        0  2013.1.1
2      2013      1   1   200.0      10.0   60.0    2013.1.1        0  2013.1.1
3      2013      1   1   200.0      13.0   70.0    2013.1.1        0  2013.1.1
4      2013      1   1   200.0      16.0   50.0    2013.1.1        0  2013.1.1
...     ...    ...  ..     ...       ...    ...         ...      ...       ...
48186  2013     12  31  2300.0      40.0   65.0  2013.12.31        2  2014.1.2
48187  2013     12  31  2300.0      43.0   69.0  2013.12.31        2  2014.1.2
48188  2013     12  31  2300.0      46.0   71.0  2013.12.31        2  2014.1.2
48189  2013     12  31  2300.0      49.0   61.0  2013.12.31        3  2014.1.3
48190  2013     12  31  2300.0      52.0   54.0  2013.12.31        3  2014.1.3

[48191 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4     40    2014.1.1        0  2014.1.1
1      2014      1    1   200         7     55    2014.1.1        0  2014.1.1
2      2014      1    1   200        10     65    2014.1.1        0  2014.1.1
3      2014      1    1   200        13     55    2014.1.1        0  2014.1.1
4      2014      1    1   200        16     55    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52     50  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55     55  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58     60  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61     70  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64     75  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4     30    2015.1.1        0  2015.1.1
1      2015      1    1   200         7     45    2015.1.1        0  2015.1.1
2      2015      1    1   200        10     50    2015.1.1        0  2015.1.1
3      2015      1    1   200        13     55    2015.1.1        0  2015.1.1
4      2015      1    1   200        16     60    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52182  2015     12   31  2300        52     70  2015.12.31        3  2016.1.3
52183  2015     12   31  2300        55     60  2015.12.31        3  2016.1.3
52184  2015     12   31  2300        58     70  2015.12.31        3  2016.1.3
52185  2015     12   31  2300        61     80  2015.12.31        3  2016.1.3
52186  2015     12   31  2300        64     85  2015.12.31        3  2016.1.3

[52187 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2016      1    1   200         4     55    2016.1.1        0  2016.1.1
1      2016      1    1   200         7     65    2016.1.1        0  2016.1.1
2      2016      1    1   200        10     75    2016.1.1        0  2016.1.1
3      2016      1    1   200        13     80    2016.1.1        0  2016.1.1
4      2016      1    1   200        16     80    2016.1.1        0  2016.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
54163  2016     12   31  2300        52     50  2016.12.31        3  2017.1.3
54164  2016     12   31  2300        55     40  2016.12.31        3  2017.1.3
54165  2016     12   31  2300        58     60  2016.12.31        3  2017.1.3
54166  2016     12   31  2300        61     65  2016.12.31        3  2017.1.3
54167  2016     12   31  2300        64     75  2016.12.31        3  2017.1.3

[54168 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4     20  2017-02-01        0
1      2017      2    1   200         7     25  2017-02-01        0
2      2017      2    1   200        10     40  2017-02-01        0
3      2017      2    1   200        13     50  2017-02-01        0
4      2017      2    1   200        16     50  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52     30  2018-01-31        3
54016  2017     13   31  2300        55     30  2018-01-31        3
54017  2017     13   31  2300        58     35  2018-01-31        3
54018  2017     13   31  2300        61     45  2018-01-31        3
54019  2017     13   31  2300        64     40  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4     55  2017-01-01        0  2017-01-01
1     2017      1    1   200         7     60  2017-01-01        0  2017-01-01
2     2017      1    1   200        10     70  2017-01-01        0  2017-01-01
3     2017      1    1   200        13     75  2017-01-01        0  2017-01-01
4     2017      1    1   200        16     80  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52     45  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55     45  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58     60  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61     70  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64     75  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month day    hour  forecast  value        date  addDate  \
0      2018      2   1   200.0       4.0   30.0  2018-02-01        0
1      2018      2   1   200.0       7.0   35.0  2018-02-01        0
2      2018      2   1   200.0      10.0   55.0  2018-02-01        0
3      2018      2   1   200.0      13.0   55.0  2018-02-01        0
4      2018      2   1   200.0      16.0   65.0  2018-02-01        0
...     ...    ...  ..     ...       ...    ...         ...      ...
54016  2018     13  31  2300.0      52.0   85.0  2019-01-31        3
54017  2018     13  31  2300.0      55.0   80.0  2019-01-31        3
54018  2018     13  31  2300.0      58.0   75.0  2019-01-31        3
54019  2018     13  31  2300.0      61.0   75.0  2019-01-31        3
54020  2018     13  31  2300.0      64.0   70.0  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03
54020  2019-02-03

[54021 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4     35  2019-02-01        0
1      2019      2    1   200         7     45  2019-02-01        0
2      2019      2    1   200        10     55  2019-02-01        0
3      2019      2    1   200        13     65  2019-02-01        0
4      2019      2    1   200        16     70  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52     45  2020-01-31        3
54016  2019     13   31  2300        55     40  2020-01-31        3
54017  2019     13   31  2300        58     50  2020-01-31        3
54018  2019     13   31  2300        61     65  2020-01-31        3
54019  2019     13   31  2300        64     70  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]
         year  month  format: day  hour forecast  \
0         NaN      0          NaN   NaN      NaN
1      2009.0      1            1   200        4
2      2009.0      1            1   200        7
3      2009.0      1            1   500        4
4      2009.0      1            1   800        4
...       ...    ...          ...   ...      ...
10947  2009.0     24           31  1700        7
10948  2009.0     24           31  2000        4
10949  2009.0     24           31  2000        7
10950  2009.0     24           31  2300        4
10951  2009.0     24           31  2300        7

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                            1  2009-01-01       0  2009-01-01
2                                            3  2009-01-01       0  2009-01-01
3                                            3  2009-01-01       0  2009-01-01
4                                            3  2009-01-01       0  2009-01-01
...                                        ...         ...     ...         ...
10947                                        2  2010-12-31       1  2011-01-01
10948                                     -2.9  2010-12-31       1  2011-01-01
10949                                        2  2010-12-31       1  2011-01-01
10950                                     -2.9  2010-12-31       1  2011-01-01
10951                                        2  2010-12-31       1  2011-01-01

[10952 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2010.0      1           1.0   200.0       4.0
2     2010.0      1           1.0   200.0       7.0
3     2010.0      1           1.0   500.0       4.0
4     2010.0      1           1.0   800.0       4.0
...      ...    ...           ...     ...       ...
5471  2010.0     12          31.0  1700.0       7.0
5472  2010.0     12          31.0  2000.0       4.0
5473  2010.0     12          31.0  2000.0       7.0
5474  2010.0     12          31.0  2300.0       4.0
5475  2010.0     12          31.0  2300.0       7.0

      value  location:60_124 Start : 20100101         date  addDate  \
0                                          NaN         NaN      NaN
1                                         -2.9  2010-01-01      0.0
2                                          2.0  2010-01-01      0.0
3                                          2.0  2010-01-01      0.0
4                                          1.0  2010-01-01      0.0
...                                        ...         ...      ...
5471                                       1.0  2010-12-31      1.0
5472                                      -1.9  2010-12-31      1.0
5473                                       1.0  2010-12-31      1.0
5474                                      -1.9  2010-12-31      1.0
5475                                       1.0  2010-12-31      1.0

       timeStamp
0            NaN
1     2010-01-01
2     2010-01-01
3     2010-01-01
4     2010-01-01
...          ...
5471  2011-01-01
5472  2011-01-01
5473  2011-01-01
5474  2011-01-01
5475  2011-01-01

[5476 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2011.0      1           1.0   200.0       4.0
2     2011.0      1           1.0   200.0       7.0
3     2011.0      1           1.0   500.0       4.0
4     2011.0      1           1.0   800.0       4.0
...      ...    ...           ...     ...       ...
5038  2011.0     12          31.0  1700.0       7.0
5039  2011.0     12          31.0  2000.0       4.0
5040  2011.0     12          31.0  2000.0       7.0
5041  2011.0     12          31.0  2300.0       4.0
5042  2011.0     12          31.0  2300.0       7.0

      value  location:60_124 Start : 20110101         date  addDate  \
0                                          NaN         NaN      NaN
1                                         -1.9  2011-01-01      0.0
2                                          1.0  2011-01-01      0.0
3                                          1.0  2011-01-01      0.0
4                                          0.0  2011-01-01      0.0
...                                        ...         ...      ...
5038                                       1.0  2011-12-31      1.0
5039                                       1.0  2011-12-31      1.0
5040                                       0.0  2011-12-31      1.0
5041                                       1.0  2011-12-31      1.0
5042                                       0.0  2011-12-31      1.0

       timeStamp
0            NaN
1     2011-01-01
2     2011-01-01
3     2011-01-01
4     2011-01-01
...          ...
5038  2012-01-01
5039  2012-01-01
5040  2012-01-01
5041  2012-01-01
5042  2012-01-01

[5043 rows x 9 columns]
        year  month   format: day    hour  forecast  \
0        NaN      0           NaN     NaN       NaN
1     2012.0      1           1.0   200.0       4.0
2     2012.0      1           1.0   200.0       7.0
3     2012.0      1           1.0   500.0       4.0
4     2012.0      1           1.0   800.0       4.0

/Users/seonghoonjeong/Desktop/School/3-1/DataScience/텀프/project/DataScienceTermProject/src/dataset.py:20: DtypeWarning: Columns (2,3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

         year  month  format: day  hour forecast  \
0         NaN      0          NaN   NaN      NaN
1      2009.0      1            1   200        4
2      2009.0      1            1   200        7
3      2009.0      1            1   200       10
4      2009.0      1            1   200       13
...       ...    ...          ...   ...      ...
84641  2009.0     22           31  2300       40
84642  2009.0     22           31  2300       43
84643  2009.0     22           31  2300       46
84644  2009.0     22           31  2300       49
84645  2009.0     22           31  2300       52

      value  location:60_124 Start : 20090101         date addDate   timeStamp
0                                          NaN         NaN     NaN         NaN
1                                            1  2009-01-01       0  2009-01-01
2                                            1  2009-01-01       0  2009-01-01
3                                            1  2009-01-01       0  2009-01-01
4                                            1  2009-01-01       0  2009-01-01
...                                        ...         ...     ...         ...
84641                                        1  2010-10-31       2  2010-11-02
84642                                        1  2010-10-31       2  2010-11-02
84643                                        1  2010-10-31       2  2010-11-02
84644                                        1  2010-10-31       3  2010-11-03
84645                                        2  2010-10-31       3  2010-11-03

[84646 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2010.0      1           1.0   200.0       4.0
2      2010.0      1           1.0   200.0       7.0
3      2010.0      1           1.0   200.0      10.0
4      2010.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
44084  2010.0     11          31.0  2300.0      40.0
44085  2010.0     11          31.0  2300.0      43.0
44086  2010.0     11          31.0  2300.0      46.0
44087  2010.0     11          31.0  2300.0      49.0
44088  2010.0     11          31.0  2300.0      52.0

       value  location:60_124 Start : 20100101         date  addDate  \
0                                           NaN         NaN      NaN
1                                           3.0  2010-01-01      0.0
2                                           4.0  2010-01-01      0.0
3                                           4.0  2010-01-01      0.0
4                                           4.0  2010-01-01      0.0
...                                         ...         ...      ...
44084                                       1.0  2010-12-01      2.0
44085                                       2.0  2010-12-01      2.0
44086                                       2.0  2010-12-01      2.0
44087                                       2.0  2010-12-01      3.0
44088                                       3.0  2010-12-01      3.0

        timeStamp
0             NaN
1      2010-01-01
2      2010-01-01
3      2010-01-01
4      2010-01-01
...           ...
44084  2010-12-03
44085  2010-12-03
44086  2010-12-03
44087  2010-12-04
44088  2010-12-04

[44089 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2011.0      1           1.0   200.0       4.0
2      2011.0      1           1.0   200.0       7.0
3      2011.0      1           1.0   200.0      10.0
4      2011.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
40470  2011.0     11          31.0  2300.0      40.0
40471  2011.0     11          31.0  2300.0      43.0
40472  2011.0     11          31.0  2300.0      46.0
40473  2011.0     11          31.0  2300.0      49.0
40474  2011.0     11          31.0  2300.0      52.0

       value  location:60_124 Start : 20110101         date  addDate  \
0                                           NaN         NaN      NaN
1                                           1.0  2011-01-01      0.0
2                                           1.0  2011-01-01      0.0
3                                           1.0  2011-01-01      0.0
4                                           1.0  2011-01-01      0.0
...                                         ...         ...      ...
40470                                       2.0  2011-12-01      2.0
40471                                       2.0  2011-12-01      2.0
40472                                       2.0  2011-12-01      2.0
40473                                       3.0  2011-12-01      3.0
40474                                       3.0  2011-12-01      3.0

        timeStamp
0             NaN
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
40470  2011-12-03
40471  2011-12-03
40472  2011-12-03
40473  2011-12-04
40474  2011-12-04

[40475 rows x 9 columns]
         year  month   format: day    hour  forecast  \
0         NaN      0           NaN     NaN       NaN
1      2012.0      1           1.0   200.0       4.0
2      2012.0      1           1.0   200.0       7.0
3      2012.0      1           1.0   200.0      10.0
4      2012.0      1           1.0   200.0      13.0
...       ...    ...           ...     ...       ...
32201  2012.0      8          31.0  2300.0      40.0
32202  2012.0      8          31.0  2300.0      43.0
32203  2012.0      8          31.0  2300.0      46.0
32204  2012.0      8          31.0  2300.0      49.0
32205  2012.0      8          31.0  2300.0      52.0

       value  location:60_124 Start : 20120101         date  addDate  \
0                                           NaN         NaN      NaN
1                                           4.0  2012-01-01      0.0
2                                           3.0  2012-01-01      0.0
3                                           1.0  2012-01-01      0.0
4                                           1.0  2012-01-01      0.0
...                                         ...         ...      ...
32201                                       1.0  2012-08-31      2.0
32202                                       1.0  2012-08-31      2.0
32203                                       1.0  2012-08-31      2.0
32204                                       1.0  2012-08-31      3.0
32205                                       1.0  2012-08-31      3.0

        timeStamp
0             NaN
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
32201  2012-09-02
32202  2012-09-02
32203  2012-09-02
32204  2012-09-03
32205  2012-09-03

[32206 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2013      1    1   200         4      4    2013.1.1        0  2013.1.1
1      2013      1    1   200         7      4    2013.1.1        0  2013.1.1
2      2013      1    1   200        10      4    2013.1.1        0  2013.1.1
3      2013      1    1   200        13      4    2013.1.1        0  2013.1.1
4      2013      1    1   200        16      2    2013.1.1        0  2013.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
48175  2013     12   31  2300        40      2  2013.12.31        2  2014.1.2
48176  2013     12   31  2300        43      3  2013.12.31        2  2014.1.2
48177  2013     12   31  2300        46      3  2013.12.31        2  2014.1.2
48178  2013     12   31  2300        49      3  2013.12.31        3  2014.1.3
48179  2013     12   31  2300        52      3  2013.12.31        3  2014.1.3

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4      3    2014.1.1        0  2014.1.1
1      2014      1    1   200         7      3    2014.1.1        0  2014.1.1
2      2014      1    1   200        10      2    2014.1.1        0  2014.1.1
3      2014      1    1   200        13      2    2014.1.1        0  2014.1.1
4      2014      1    1   200        16      1    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52      2  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55      3  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58      3  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61      3  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64      4  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4      1    2015.1.1        0  2015.1.1
1      2015      1    1   200         7      1    2015.1.1        0  2015.1.1
2      2015      1    1   200        10      1    2015.1.1        0  2015.1.1
3      2015      1    1   200        13      2    2015.1.1        0  2015.1.1
4      2015      1    1   200        16      2    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52514  2015     12   31  2300        52      3  2015.12.31        3  2016.1.3
52515  2015     12   31  2300        55      3  2015.12.31        3  2016.1.3
52516  2015     12   31  2300        58      3  2015.12.31        3  2016.1.3
52517  2015     12   31  2300        61      3  2015.12.31        3  2016.1.3
52518  2015     12   31  2300        64      3  2015.12.31        3  2016.1.3

[52519 rows x 9 columns]
       year  month day    hour  forecast  value       date  addDate  timestamp
0      2016      1   1   200.0       4.0    1.0   2016.1.1        0   2016.1.1
1      2016      1   1   200.0       7.0    1.0   2016.1.1        0   2016.1.1
2      2016      1   1   200.0      10.0    1.0   2016.1.1        0   2016.1.1
3      2016      1   1   200.0      13.0    1.0   2016.1.1        0   2016.1.1
4      2016      1   1   200.0      16.0    1.0   2016.1.1        0   2016.1.1
...     ...    ...  ..     ...       ...    ...        ...      ...        ...
49585  2016     11  31  2300.0      52.0    1.0  2016.12.1        3  2016.12.4
49586  2016     11  31  2300.0      55.0    1.0  2016.12.1        3  2016.12.4
49587  2016     11  31  2300.0      58.0    1.0  2016.12.1        3  2016.12.4
49588  2016     11  31  2300.0      61.0    1.0  2016.12.1        3  2016.12.4
49589  2016     11  31  2300.0      64.0    1.0  2016.12.1        3  2016.12.4

[49590 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4      1  2017-02-01        0
1      2017      2    1   200         7      1  2017-02-01        0
2      2017      2    1   200        10      1  2017-02-01        0
3      2017      2    1   200        13      1  2017-02-01        0
4      2017      2    1   200        16      1  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52      3  2018-01-31        3
54016  2017     13   31  2300        55      2  2018-01-31        3
54017  2017     13   31  2300        58      2  2018-01-31        3
54018  2017     13   31  2300        61      2  2018-01-31        3
54019  2017     13   31  2300        64      2  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4      3  2017-01-01        0  2017-01-01
1     2017      1    1   200         7      3  2017-01-01        0  2017-01-01
2     2017      1    1   200        10      3  2017-01-01        0  2017-01-01
3     2017      1    1   200        13      3  2017-01-01        0  2017-01-01
4     2017      1    1   200        16      4  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52      2  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55      3  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58      3  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61      3  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64      3  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         4      1  2018-02-01        0
1      2018      2    1   200         7      1  2018-02-01        0
2      2018      2    1   200        10      1  2018-02-01        0
3      2018      2    1   200        13      1  2018-02-01        0
4      2018      2    1   200        16      1  2018-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2018     13   31  2300        52      4  2019-01-31        3
54016  2018     13   31  2300        55      4  2019-01-31        3
54017  2018     13   31  2300        58      4  2019-01-31        3
54018  2018     13   31  2300        61      4  2019-01-31        3
54019  2018     13   31  2300        64      3  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54015  2019-02-03
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03

[54020 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4      1  2019-02-01        0
1      2019      2    1   200         7      1  2019-02-01        0
2      2019      2    1   200        10      1  2019-02-01        0
3      2019      2    1   200        13      1  2019-02-01        0
4      2019      2    1   200        16      1  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52      3  2020-01-31        3
54016  2019     13   31  2300        55      3  2020-01-31        3
54017  2019     13   31  2300        58      3  2020-01-31        3
54018  2019     13   31  2300        61      1  2020-01-31        3
54019  2019     13   31  2300        64      1  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]