In [19]:
%load_ext autoreload
%autoreload 2
# dataset.py에서 파일 output하는 모듈 실행
from dataset import mergeForecastDataset

mergeForecastDataset()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
       year  month day  hour forecast value        date  addDate   timestamp
0      2009      1   1   200        4     0  2009-01-01        0  2009-01-01
1      2009      1   1   200        7     0  2009-01-01        0  2009-01-01
2      2009      1   1   200       10     0  2009-01-01        0  2009-01-01
3      2009      1   1   200       13     0  2009-01-01        0  2009-01-01
4      2009      1   1   500        4     0  2009-01-01        0  2009-01-01
...     ...    ...  ..   ...      ...   ...         ...      ...         ...
10940  2009     16  30  2300        4     0  2010-04-30        0  2010-04-30
10941  2009     16  30  2300        7     0  2010-04-30        0  2010-04-30
10942  2009     16  30  2300       10     0  2010-04-30        0  2010-04-30
10943  2009     16  30  2300       13     0  2010-04-30        0  2010-04-30
10944  2009     16  30  2300       16     5  2010-04-30        0  2010-04-30

[10945 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2010      1    1   200         4      1  2010-01-01        0  2010-01-01
1     2010      1    1   200         7      5  2010-01-01        0  2010-01-01
2     2010      1    1   200        10      0  2010-01-01        0  2010-01-01
3     2010      1    1   200        13      0  2010-01-01        0  2010-01-01
4     2010      1    1   500         4      1  2010-01-01        0  2010-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
9859  2010     12   31  2300         4      0  2010-12-31        1  2011-01-01
9860  2010     12   31  2300         7      0  2010-12-31        1  2011-01-01
9861  2010     12   31  2300        10      0  2010-12-31        1  2011-01-01
9862  2010     12   31  2300        13      0  2010-12-31        1  2011-01-01
9863  2010     12   31  2300        16      0  2010-12-31        1  2011-01-01

[9864 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2011      1    1   200         4      0  2011-01-01        0  2011-01-01
1     2011      1    1   200         7      0  2011-01-01        0  2011-01-01
2     2011      1    1   200        10      0  2011-01-01        0  2011-01-01
3     2011      1    1   200        13      0  2011-01-01        0  2011-01-01
4     2011      1    1   500         4      0  2011-01-01        0  2011-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4481  2011      8   30  2300         4      0  2011-08-30        1  2011-08-31
4482  2011      8   30  2300         7      0  2011-08-30        1  2011-08-31
4483  2011      8   30  2300        10      0  2011-08-30        1  2011-08-31
4484  2011      8   30  2300        13      0  2011-08-30        1  2011-08-31
4485  2011      8   30  2300        16      5  2011-08-30        1  2011-08-31

[4486 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2012      1    1   200         4      0  2012-01-01        0  2012-01-01
1     2012      1    1   200         7      0  2012-01-01        0  2012-01-01
2     2012      1    1   200        10      0  2012-01-01        0  2012-01-01
3     2012      1    1   200        13      0  2012-01-01        0  2012-01-01
4     2012      1    1   500         4      0  2012-01-01        0  2012-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
7938  2012     10   31  2300         4      0  2012-10-31        1  2012-11-01
7939  2012     10   31  2300         7      5  2012-10-31        1  2012-11-01
7940  2012     10   31  2300        10      0  2012-10-31        1  2012-11-01
7941  2012     10   31  2300        13      0  2012-10-31        1  2012-11-01
7942  2012     10   31  2300        16      0  2012-10-31        1  2012-11-01

[7943 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate timestamp
0     2013      1    1   200         4      5    2013.1.1        0  2013.1.1
1     2013      1    1   200         7      0    2013.1.1        0  2013.1.1
2     2013      1    1   200        10      0    2013.1.1        0  2013.1.1
3     2013      1    1   200        13      0    2013.1.1        0  2013.1.1
4     2013      1    1   500         4      5    2013.1.1        0  2013.1.1
...    ...    ...  ...   ...       ...    ...         ...      ...       ...
6475  2013     12   31  2300         4      0  2013.12.31        1  2014.1.1
6476  2013     12   31  2300         7      0  2013.12.31        1  2014.1.1
6477  2013     12   31  2300        10      0  2013.12.31        1  2014.1.1
6478  2013     12   31  2300        13      0  2013.12.31        1  2014.1.1
6479  2013     12   31  2300        16      0  2013.12.31        1  2014.1.1

[6480 rows x 9 columns]
       year  month  day  hour  forecast  value       date  addDate  timestamp
0      2014      1    1   200         7      0   2014.1.1        0   2014.1.1
1      2014      1    1   200        13      0   2014.1.1        0   2014.1.1
2      2014      1    1   200        19      0   2014.1.1        0   2014.1.1
3      2014      1    1   200        25      0   2014.1.1        1   2014.1.2
4      2014      1    1   200        31      0   2014.1.1        1   2014.1.2
...     ...    ...  ...   ...       ...    ...        ...      ...        ...
22619  2014     11   31  2300        40      0  2014.12.1        2  2014.12.3
22620  2014     11   31  2300        46      0  2014.12.1        2  2014.12.3
22621  2014     11   31  2300        52      0  2014.12.1        3  2014.12.4
22622  2014     11   31  2300        58      0  2014.12.1        3  2014.12.4
22623  2014     11   31  2300        64      0  2014.12.1        3  2014.12.4

[22624 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         7      0    2015.1.1        0  2015.1.1
1      2015      1    1   200        13      0    2015.1.1        0  2015.1.1
2      2015      1    1   200        19      0    2015.1.1        0  2015.1.1
3      2015      1    1   200        25      0    2015.1.1        1  2015.1.2
4      2015      1    1   200        31      0    2015.1.1        1  2015.1.2
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
26964  2015     12   31  2300        40      0  2015.12.31        2  2016.1.2
26965  2015     12   31  2300        46      0  2015.12.31        2  2016.1.2
26966  2015     12   31  2300        52      0  2015.12.31        3  2016.1.3
26967  2015     12   31  2300        58      0  2015.12.31        3  2016.1.3
26968  2015     12   31  2300        64      0  2015.12.31        3  2016.1.3

[26969 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2016      1    1   200         7      0    2016.1.1        0  2016.1.1
1      2016      1    1   200        13      0    2016.1.1        0  2016.1.1
2      2016      1    1   200        19      0    2016.1.1        0  2016.1.1
3      2016      1    1   200        25      0    2016.1.1        1  2016.1.2
4      2016      1    1   200        31      0    2016.1.1        1  2016.1.2
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
27811  2016     12   31  2300        40      0  2016.12.31        2  2017.1.2
27812  2016     12   31  2300        46      0  2016.12.31        2  2017.1.2
27813  2016     12   31  2300        52      0  2016.12.31        3  2017.1.3
27814  2016     12   31  2300        58      0  2016.12.31        3  2017.1.3
27815  2016     12   31  2300        64      0  2016.12.31        3  2017.1.3

[27816 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         7      0  2017-02-01        0
1      2017      2    1   200        13      0  2017-02-01        0
2      2017      2    1   200        19      0  2017-02-01        0
3      2017      2    1   200        25      0  2017-02-01        1
4      2017      2    1   200        31      0  2017-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2017     13   31  2300        40      0  2018-01-31        2
27736  2017     13   31  2300        46      0  2018-01-31        2
27737  2017     13   31  2300        52      0  2018-01-31        3
27738  2017     13   31  2300        58      0  2018-01-31        3
27739  2017     13   31  2300        64      0  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-02
4      2017-02-02
...           ...
27735  2018-02-02
27736  2018-02-02
27737  2018-02-03
27738  2018-02-03
27739  2018-02-03

[27740 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         7      0  2017-01-01        0  2017-01-01
1     2017      1    1   200        13      0  2017-01-01        0  2017-01-01
2     2017      1    1   200        19      0  2017-01-01        0  2017-01-01
3     2017      1    1   200        25      0  2017-01-01        1  2017-01-02
4     2017      1    1   200        31      0  2017-01-01        1  2017-01-02
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
2351  2017      1   31  2300        40      0  2017-01-31        2  2017-02-02
2352  2017      1   31  2300        46      0  2017-01-31        2  2017-02-02
2353  2017      1   31  2300        52      0  2017-01-31        3  2017-02-03
2354  2017      1   31  2300        58      0  2017-01-31        3  2017-02-03
2355  2017      1   31  2300        64      0  2017-01-31        3  2017-02-03

[2356 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         7      0  2018-02-01        0
1      2018      2    1   200        13      0  2018-02-01        0
2      2018      2    1   200        19      0  2018-02-01        0
3      2018      2    1   200        25      0  2018-02-01        1
4      2018      2    1   200        31      0  2018-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2018     13   31  2300        40      0  2019-01-31        2
27736  2018     13   31  2300        46      5  2019-01-31        2
27737  2018     13   31  2300        52     10  2019-01-31        3
27738  2018     13   31  2300        58      5  2019-01-31        3
27739  2018     13   31  2300        64      1  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-02
4      2018-02-02
...           ...
27735  2019-02-02
27736  2019-02-02
27737  2019-02-03
27738  2019-02-03
27739  2019-02-03

[27740 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         7      0  2019-02-01        0
1      2019      2    1   200        13      0  2019-02-01        0
2      2019      2    1   200        19      0  2019-02-01        0
3      2019      2    1   200        25      0  2019-02-01        1
4      2019      2    1   200        31      0  2019-02-01        1
...     ...    ...  ...   ...       ...    ...         ...      ...
27735  2019     13   31  2300        40      0  2020-01-31        2
27736  2019     13   31  2300        46      0  2020-01-31        2
27737  2019     13   31  2300        52      0  2020-01-31        3
27738  2019     13   31  2300        58      0  2020-01-31        3
27739  2019     13   31  2300        64      0  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-02
4      2019-02-02
...           ...
27735  2020-02-02
27736  2020-02-02
27737  2020-02-03
27738  2020-02-03
27739  2020-02-03

[27740 rows x 9 columns]

c:\Users\dahye\gitProjects\etc\DataScienceTermProject\src\dataset.py:20: DtypeWarning: Columns (3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

       year  month day    hour forecast value        date addDate   timestamp
0      2009      1   1     200        4     0  2009-01-01       0  2009-01-01
1      2009      1   1     200        7     0  2009-01-01       0  2009-01-01
2      2009      1   1     200       10     0  2009-01-01       0  2009-01-01
3      2009      1   1     200       13     0  2009-01-01       0  2009-01-01
4      2009      1   1     200       16     0  2009-01-01       0  2009-01-01
...     ...    ...  ..     ...      ...   ...         ...     ...         ...
92561  2009     24  31  2300.0     43.0   0.0  2010-12-31       2  2011-01-02
92562  2009     24  31  2300.0     46.0   0.0  2010-12-31       2  2011-01-02
92563  2009     24  31  2300.0     49.0   0.0  2010-12-31       3  2011-01-03
92564  2009     24  31  2300.0     52.0   0.0  2010-12-31       3  2011-01-03
92565  2009     24         NaN      NaN   NaN     #VALUE!       0     #VALUE!

[92566 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2010      1    1   200         4     20  2010-01-01        0
1      2010      1    1   200         7     30  2010-01-01        0
2      2010      1    1   200        10     30  2010-01-01        0
3      2010      1    1   200        13     60  2010-01-01        0
4      2010      1    1   200        16     60  2010-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
48175  2010     12   31  2300        40      0  2010-12-31        2
48176  2010     12   31  2300        43     10  2010-12-31        2
48177  2010     12   31  2300        46     10  2010-12-31        2
48178  2010     12   31  2300        49     10  2010-12-31        3
48179  2010     12   31  2300        52     20  2010-12-31        3

        timestamp
0      2010-01-01
1      2010-01-01
2      2010-01-01
3      2010-01-01
4      2010-01-01
...           ...
48175  2011-01-02
48176  2011-01-02
48177  2011-01-02
48178  2011-01-03
48179  2011-01-03

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2011      1    1   200         4      0  2011-01-01        0
1      2011      1    1   200         7      0  2011-01-01        0
2      2011      1    1   200        10      0  2011-01-01        0
3      2011      1    1   200        13      0  2011-01-01        0
4      2011      1    1   200        16      0  2011-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
44561  2011     12   31  2300        40     10  2011-12-31        2
44562  2011     12   31  2300        43     10  2011-12-31        2
44563  2011     12   31  2300        46     10  2011-12-31        2
44564  2011     12   31  2300        49     20  2011-12-31        3
44565  2011     12   31  2300        52     20  2011-12-31        3

        timestamp
0      2011-01-01
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
44561  2012-01-02
44562  2012-01-02
44563  2012-01-02
44564  2012-01-03
44565  2012-01-03

[44566 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2012      1    1   200         4     30  2012-01-01        0
1      2012      1    1   200         7     20  2012-01-01        0
2      2012      1    1   200        10      0  2012-01-01        0
3      2012      1    1   200        13      0  2012-01-01        0
4      2012      1    1   200        16      0  2012-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
46109  2012     12   31  2300        40      0  2012-12-31        2
46110  2012     12   31  2300        43      0  2012-12-31        2
46111  2012     12   31  2300        46      0  2012-12-31        2
46112  2012     12   31  2300        49      0  2012-12-31        3
46113  2012     12   31  2300        52      0  2012-12-31        3

        timestamp
0      2012-01-01
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
46109  2013-01-02
46110  2013-01-02
46111  2013-01-02
46112  2013-01-03
46113  2013-01-03

[46114 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2013      1    1   200         4     60    2013.1.1        0  2013.1.1
1      2013      1    1   200         7     30    2013.1.1        0  2013.1.1
2      2013      1    1   200        10     70    2013.1.1        0  2013.1.1
3      2013      1    1   200        13     70    2013.1.1        0  2013.1.1
4      2013      1    1   200        16     20    2013.1.1        0  2013.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
48175  2013     12   31  2300        40     10  2013.12.31        2  2014.1.2
48176  2013     12   31  2300        43     20  2013.12.31        2  2014.1.2
48177  2013     12   31  2300        46     20  2013.12.31        2  2014.1.2
48178  2013     12   31  2300        49     20  2013.12.31        3  2014.1.3
48179  2013     12   31  2300        52     20  2013.12.31        3  2014.1.3

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4     20    2014.1.1        0  2014.1.1
1      2014      1    1   200         7     20    2014.1.1        0  2014.1.1
2      2014      1    1   200        10     10    2014.1.1        0  2014.1.1
3      2014      1    1   200        13     10    2014.1.1        0  2014.1.1
4      2014      1    1   200        16      0    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52     10  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55     20  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58     20  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61     20  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64     30  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4      0    2015.1.1        0  2015.1.1
1      2015      1    1   200         7      0    2015.1.1        0  2015.1.1
2      2015      1    1   200        10      0    2015.1.1        0  2015.1.1
3      2015      1    1   200        13     10    2015.1.1        0  2015.1.1
4      2015      1    1   200        16     10    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52514  2015     12   31  2300        52     20  2015.12.31        3  2016.1.3
52515  2015     12   31  2300        55     20  2015.12.31        3  2016.1.3
52516  2015     12   31  2300        58     20  2015.12.31        3  2016.1.3
52517  2015     12   31  2300        61     20  2015.12.31        3  2016.1.3
52518  2015     12   31  2300        64     20  2015.12.31        3  2016.1.3

[52519 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2016      1    1   200         4     20    2016.1.1        0  2016.1.1
1      2016      1    1   200         7     20    2016.1.1        0  2016.1.1
2      2016      1    1   200        10     20    2016.1.1        0  2016.1.1
3      2016      1    1   200        13     20    2016.1.1        0  2016.1.1
4      2016      1    1   200        16     30    2016.1.1        0  2016.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
54163  2016     12   31  2300        52      0  2016.12.31        3  2017.1.3
54164  2016     12   31  2300        55      0  2016.12.31        3  2017.1.3
54165  2016     12   31  2300        58      0  2016.12.31        3  2017.1.3
54166  2016     12   31  2300        61      0  2016.12.31        3  2017.1.3
54167  2016     12   31  2300        64      0  2016.12.31        3  2017.1.3

[54168 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4      0  2017-02-01        0
1      2017      2    1   200         7      0  2017-02-01        0
2      2017      2    1   200        10      0  2017-02-01        0
3      2017      2    1   200        13      0  2017-02-01        0
4      2017      2    1   200        16      0  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52     20  2018-01-31        3
54016  2017     13   31  2300        55     10  2018-01-31        3
54017  2017     13   31  2300        58     10  2018-01-31        3
54018  2017     13   31  2300        61     10  2018-01-31        3
54019  2017     13   31  2300        64     10  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4     20  2017-01-01        0  2017-01-01
1     2017      1    1   200         7     20  2017-01-01        0  2017-01-01
2     2017      1    1   200        10     20  2017-01-01        0  2017-01-01
3     2017      1    1   200        13     20  2017-01-01        0  2017-01-01
4     2017      1    1   200        16     30  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52     10  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55     20  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58     20  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61     20  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64     20  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         4      0  2018-02-01        0
1      2018      2    1   200         7      0  2018-02-01        0
2      2018      2    1   200        10      0  2018-02-01        0
3      2018      2    1   200        13      0  2018-02-01        0
4      2018      2    1   200        16      0  2018-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2018     13   31  2300        52     80  2019-01-31        3
54016  2018     13   31  2300        55     70  2019-01-31        3
54017  2018     13   31  2300        58     60  2019-01-31        3
54018  2018     13   31  2300        61     60  2019-01-31        3
54019  2018     13   31  2300        64     20  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54015  2019-02-03
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03

[54020 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4      0  2019-02-01        0
1      2019      2    1   200         7      0  2019-02-01        0
2      2019      2    1   200        10      0  2019-02-01        0
3      2019      2    1   200        13      0  2019-02-01        0
4      2019      2    1   200        16      0  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52     20  2020-01-31        3
54016  2019     13   31  2300        55     20  2020-01-31        3
54017  2019     13   31  2300        58     20  2020-01-31        3
54018  2019     13   31  2300        61      0  2020-01-31        3
54019  2019     13   31  2300        64      0  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]

c:\Users\dahye\gitProjects\etc\DataScienceTermProject\src\dataset.py:20: DtypeWarning: Columns (2,3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

       year  month day  hour forecast value        date addDate   timestamp
0      2009      1   1   200        4    35  2009-01-01       0  2009-01-01
1      2009      1   1   200        7    45  2009-01-01       0  2009-01-01
2      2009      1   1   200       10    55  2009-01-01       0  2009-01-01
3      2009      1   1   200       13    55  2009-01-01       0  2009-01-01
4      2009      1   1   200       16    60  2009-01-01       0  2009-01-01
...     ...    ...  ..   ...      ...   ...         ...     ...         ...
92560  2009     24  31  2300       40    60  2010-12-31       2  2011-01-02
92561  2009     24  31  2300       43    56  2010-12-31       2  2011-01-02
92562  2009     24  31  2300       46    58  2010-12-31       2  2011-01-02
92563  2009     24  31  2300       49    55  2010-12-31       3  2011-01-03
92564  2009     24  31  2300       52    39  2010-12-31       3  2011-01-03

[92565 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2010      1    1   200         4     43  2010-01-01        0
1      2010      1    1   200         7     55  2010-01-01        0
2      2010      1    1   200        10     67  2010-01-01        0
3      2010      1    1   200        13     68  2010-01-01        0
4      2010      1    1   200        16     69  2010-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
48175  2010     12   31  2300        40     80  2010-12-31        2
48176  2010     12   31  2300        43     80  2010-12-31        2
48177  2010     12   31  2300        46     80  2010-12-31        2
48178  2010     12   31  2300        49     70  2010-12-31        3
48179  2010     12   31  2300        52     50  2010-12-31        3

        timestamp
0      2010-01-01
1      2010-01-01
2      2010-01-01
3      2010-01-01
4      2010-01-01
...           ...
48175  2011-01-02
48176  2011-01-02
48177  2011-01-02
48178  2011-01-03
48179  2011-01-03

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2011      1    1   200         4     35  2011-01-01        0
1      2011      1    1   200         7     50  2011-01-01        0
2      2011      1    1   200        10     55  2011-01-01        0
3      2011      1    1   200        13     70  2011-01-01        0
4      2011      1    1   200        16     70  2011-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
44561  2011     12   31  2300        40     55  2011-12-31        2
44562  2011     12   31  2300        43     55  2011-12-31        2
44563  2011     12   31  2300        46     50  2011-12-31        2
44564  2011     12   31  2300        49     45  2011-12-31        3
44565  2011     12   31  2300        52     35  2011-12-31        3

        timestamp
0      2011-01-01
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
44561  2012-01-02
44562  2012-01-02
44563  2012-01-02
44564  2012-01-03
44565  2012-01-03

[44566 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2012      1    1   200         4   55.0  2012-01-01        0
1      2012      1    1   200         7   45.0  2012-01-01        0
2      2012      1    1   200        10   50.0  2012-01-01        0
3      2012      1    1   200        13   55.0  2012-01-01        0
4      2012      1    1   200        16   55.0  2012-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
45233  2012     12   31  2300        40   50.0  2012-12-31        2
45234  2012     12   31  2300        43   50.0  2012-12-31        2
45235  2012     12   31  2300        46   50.0  2012-12-31        2
45236  2012     12   31  2300        49   45.0  2012-12-31        3
45237  2012     12   31  2300        52   30.0  2012-12-31        3

        timestamp
0      2012-01-01
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
45233  2013-01-02
45234  2013-01-02
45235  2013-01-02
45236  2013-01-03
45237  2013-01-03

[45238 rows x 9 columns]
       year  month day    hour  forecast  value        date  addDate timestamp
0      2013      1   1   200.0       4.0   60.0    2013.1.1        0  2013.1.1
1      2013      1   1   200.0       7.0   50.0    2013.1.1        0  2013.1.1
2      2013      1   1   200.0      10.0   60.0    2013.1.1        0  2013.1.1
3      2013      1   1   200.0      13.0   70.0    2013.1.1        0  2013.1.1
4      2013      1   1   200.0      16.0   50.0    2013.1.1        0  2013.1.1
...     ...    ...  ..     ...       ...    ...         ...      ...       ...
48186  2013     12  31  2300.0      40.0   65.0  2013.12.31        2  2014.1.2
48187  2013     12  31  2300.0      43.0   69.0  2013.12.31        2  2014.1.2
48188  2013     12  31  2300.0      46.0   71.0  2013.12.31        2  2014.1.2
48189  2013     12  31  2300.0      49.0   61.0  2013.12.31        3  2014.1.3
48190  2013     12  31  2300.0      52.0   54.0  2013.12.31        3  2014.1.3

[48191 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4     40    2014.1.1        0  2014.1.1
1      2014      1    1   200         7     55    2014.1.1        0  2014.1.1
2      2014      1    1   200        10     65    2014.1.1        0  2014.1.1
3      2014      1    1   200        13     55    2014.1.1        0  2014.1.1
4      2014      1    1   200        16     55    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52     50  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55     55  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58     60  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61     70  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64     75  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4     30    2015.1.1        0  2015.1.1
1      2015      1    1   200         7     45    2015.1.1        0  2015.1.1
2      2015      1    1   200        10     50    2015.1.1        0  2015.1.1
3      2015      1    1   200        13     55    2015.1.1        0  2015.1.1
4      2015      1    1   200        16     60    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52182  2015     12   31  2300        52     70  2015.12.31        3  2016.1.3
52183  2015     12   31  2300        55     60  2015.12.31        3  2016.1.3
52184  2015     12   31  2300        58     70  2015.12.31        3  2016.1.3
52185  2015     12   31  2300        61     80  2015.12.31        3  2016.1.3
52186  2015     12   31  2300        64     85  2015.12.31        3  2016.1.3

[52187 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2016      1    1   200         4     55    2016.1.1        0  2016.1.1
1      2016      1    1   200         7     65    2016.1.1        0  2016.1.1
2      2016      1    1   200        10     75    2016.1.1        0  2016.1.1
3      2016      1    1   200        13     80    2016.1.1        0  2016.1.1
4      2016      1    1   200        16     80    2016.1.1        0  2016.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
54163  2016     12   31  2300        52     50  2016.12.31        3  2017.1.3
54164  2016     12   31  2300        55     40  2016.12.31        3  2017.1.3
54165  2016     12   31  2300        58     60  2016.12.31        3  2017.1.3
54166  2016     12   31  2300        61     65  2016.12.31        3  2017.1.3
54167  2016     12   31  2300        64     75  2016.12.31        3  2017.1.3

[54168 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4     20  2017-02-01        0
1      2017      2    1   200         7     25  2017-02-01        0
2      2017      2    1   200        10     40  2017-02-01        0
3      2017      2    1   200        13     50  2017-02-01        0
4      2017      2    1   200        16     50  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52     30  2018-01-31        3
54016  2017     13   31  2300        55     30  2018-01-31        3
54017  2017     13   31  2300        58     35  2018-01-31        3
54018  2017     13   31  2300        61     45  2018-01-31        3
54019  2017     13   31  2300        64     40  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4     55  2017-01-01        0  2017-01-01
1     2017      1    1   200         7     60  2017-01-01        0  2017-01-01
2     2017      1    1   200        10     70  2017-01-01        0  2017-01-01
3     2017      1    1   200        13     75  2017-01-01        0  2017-01-01
4     2017      1    1   200        16     80  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52     45  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55     45  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58     60  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61     70  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64     75  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month day    hour  forecast  value        date  addDate  \
0      2018      2   1   200.0       4.0   30.0  2018-02-01        0
1      2018      2   1   200.0       7.0   35.0  2018-02-01        0
2      2018      2   1   200.0      10.0   55.0  2018-02-01        0
3      2018      2   1   200.0      13.0   55.0  2018-02-01        0
4      2018      2   1   200.0      16.0   65.0  2018-02-01        0
...     ...    ...  ..     ...       ...    ...         ...      ...
54016  2018     13  31  2300.0      52.0   85.0  2019-01-31        3
54017  2018     13  31  2300.0      55.0   80.0  2019-01-31        3
54018  2018     13  31  2300.0      58.0   75.0  2019-01-31        3
54019  2018     13  31  2300.0      61.0   75.0  2019-01-31        3
54020  2018     13  31  2300.0      64.0   70.0  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03
54020  2019-02-03

[54021 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4     35  2019-02-01        0
1      2019      2    1   200         7     45  2019-02-01        0
2      2019      2    1   200        10     55  2019-02-01        0
3      2019      2    1   200        13     65  2019-02-01        0
4      2019      2    1   200        16     70  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52     45  2020-01-31        3
54016  2019     13   31  2300        55     40  2020-01-31        3
54017  2019     13   31  2300        58     50  2020-01-31        3
54018  2019     13   31  2300        61     65  2020-01-31        3
54019  2019     13   31  2300        64     70  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]
       year  month day  hour forecast value        date addDate   timestamp
0      2009      1   1   200        4     1  2009-01-01       0  2009-01-01
1      2009      1   1   200        7     3  2009-01-01       0  2009-01-01
2      2009      1   1   500        4     3  2009-01-01       0  2009-01-01
3      2009      1   1   800        4     3  2009-01-01       0  2009-01-01
4      2009      1   1   800        7     4  2009-01-01       0  2009-01-01
...     ...    ...  ..   ...      ...   ...         ...     ...         ...
10946  2009     24  31  1700        7     2  2010-12-31       1  2011-01-01
10947  2009     24  31  2000        4  -2.9  2010-12-31       1  2011-01-01
10948  2009     24  31  2000        7     2  2010-12-31       1  2011-01-01
10949  2009     24  31  2300        4  -2.9  2010-12-31       1  2011-01-01
10950  2009     24  31  2300        7     2  2010-12-31       1  2011-01-01

[10951 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2010      1    1   200         4   -2.9  2010-01-01        0  2010-01-01
1     2010      1    1   200         7    2.0  2010-01-01        0  2010-01-01
2     2010      1    1   500         4    2.0  2010-01-01        0  2010-01-01
3     2010      1    1   800         4    1.0  2010-01-01        0  2010-01-01
4     2010      1    1   800         7   -3.9  2010-01-01        0  2010-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
5470  2010     12   31  1700         7    1.0  2010-12-31        1  2011-01-01
5471  2010     12   31  2000         4   -1.9  2010-12-31        1  2011-01-01
5472  2010     12   31  2000         7    1.0  2010-12-31        1  2011-01-01
5473  2010     12   31  2300         4   -1.9  2010-12-31        1  2011-01-01
5474  2010     12   31  2300         7    1.0  2010-12-31        1  2011-01-01

[5475 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2011      1    1   200         4   -1.9  2011-01-01        0  2011-01-01
1     2011      1    1   200         7    1.0  2011-01-01        0  2011-01-01
2     2011      1    1   500         4    1.0  2011-01-01        0  2011-01-01
3     2011      1    1   800         4    0.0  2011-01-01        0  2011-01-01
4     2011      1    1   800         7    0.0  2011-01-01        0  2011-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
5037  2011     12   31  1700         7    1.0  2011-12-31        1  2012-01-01
5038  2011     12   31  2000         4    1.0  2011-12-31        1  2012-01-01
5039  2011     12   31  2000         7    0.0  2011-12-31        1  2012-01-01
5040  2011     12   31  2300         4    1.0  2011-12-31        1  2012-01-01
5041  2011     12   31  2300         7    0.0  2011-12-31        1  2012-01-01

[5042 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2012      1    1   200         4    1.0  2012-01-01        0  2012-01-01
1     2012      1    1   200         7    0.0  2012-01-01        0  2012-01-01
2     2012      1    1   500         4    0.0  2012-01-01        0  2012-01-01
3     2012      1    1   800         4    1.0  2012-01-01        0  2012-01-01
4     2012      1    1   800         7    1.0  2012-01-01        0  2012-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
5484  2012     12   31  1700         7   -8.0  2012-12-31        1  2013-01-01
5485  2012     12   31  2000         4    0.0  2012-12-31        1  2013-01-01
5486  2012     12   31  2000         7   -8.0  2012-12-31        1  2013-01-01
5487  2012     12   31  2300         4    0.0  2012-12-31        1  2013-01-01
5488  2012     12   31  2300         7   -8.0  2012-12-31        1  2013-01-01

[5489 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate timestamp
0     2013      1    1   200         4    0.0    2013.1.1        0  2013.1.1
1     2013      1    1   200         7   -7.9    2013.1.1        0  2013.1.1
2     2013      1    1   500         4   -7.9    2013.1.1        0  2013.1.1
3     2013      1    1   800         4   -7.9    2013.1.1        0  2013.1.1
4     2013      1    1   800         7   -7.9    2013.1.1        0  2013.1.1
...    ...    ...  ...   ...       ...    ...         ...      ...       ...
5470  2013     12   31  1700         7    3.0  2013.12.31        1  2014.1.1
5471  2013     12   31  2000         4    7.0  2013.12.31        1  2014.1.1
5472  2013     12   31  2000         7    3.0  2013.12.31        1  2014.1.1
5473  2013     12   31  2300         4    7.0  2013.12.31        1  2014.1.1
5474  2013     12   31  2300         7    3.0  2013.12.31        1  2014.1.1

[5475 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate timestamp
0     2014      1    1   200         4    7.0    2014.1.1        0  2014.1.1
1     2014      1    1   200         7    3.0    2014.1.1        0  2014.1.1
2     2014      1    1   500         4    3.0    2014.1.1        0  2014.1.1
3     2014      1    1   800         4    5.0    2014.1.1        0  2014.1.1
4     2014      1    1   800         7    8.0    2014.1.1        0  2014.1.1
...    ...    ...  ...   ...       ...    ...         ...      ...       ...
6446  2014     12   31  2000         7   -1.0  2014.12.31        1  2015.1.1
6447  2014     12   31  2000        10    2.0  2014.12.31        1  2015.1.1
6448  2014     12   31  2300         4   -3.0  2014.12.31        1  2015.1.1
6449  2014     12   31  2300         7   -1.0  2014.12.31        1  2015.1.1
6450  2014     12   31  2300        10    2.0  2014.12.31        1  2015.1.1

[6451 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate timestamp
0     2015      1    1   200         4   -4.0    2015.1.1        0  2015.1.1
1     2015      1    1   200         7   -1.0    2015.1.1        0  2015.1.1
2     2015      1    1   200        10    2.0    2015.1.1        0  2015.1.1
3     2015      1    1   500         4   -1.0    2015.1.1        0  2015.1.1
4     2015      1    1   500         7    2.0    2015.1.1        0  2015.1.1
...    ...    ...  ...   ...       ...    ...         ...      ...       ...
6737  2015     12   31  2000         7   10.0  2015.12.31        1  2016.1.1
6738  2015     12   31  2000        10    7.0  2015.12.31        1  2016.1.1
6739  2015     12   31  2300         4    5.0  2015.12.31        1  2016.1.1
6740  2015     12   31  2300         7   10.0  2015.12.31        1  2016.1.1
6741  2015     12   31  2300        10    7.0  2015.12.31        1  2016.1.1

[6742 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate timestamp
0     2016      1    1   200         4      4    2016.1.1        0  2016.1.1
1     2016      1    1   200         7     10    2016.1.1        0  2016.1.1
2     2016      1    1   200        10      7    2016.1.1        0  2016.1.1
3     2016      1    1   500         4     10    2016.1.1        0  2016.1.1
4     2016      1    1   500         7      7    2016.1.1        0  2016.1.1
...    ...    ...  ...   ...       ...    ...         ...      ...       ...
6949  2016     12   31  2000         7      9  2016.12.31        1  2017.1.1
6950  2016     12   31  2000        10      6  2016.12.31        1  2017.1.1
6951  2016     12   31  2300         4      8  2016.12.31        1  2017.1.1
6952  2016     12   31  2300         7      9  2016.12.31        1  2017.1.1
6953  2016     12   31  2300        10      6  2016.12.31        1  2017.1.1

[6954 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      2    1   200         4    0.0  2017-02-01        0  2017-02-01

c:\Users\dahye\gitProjects\etc\DataScienceTermProject\src\dataset.py:20: DtypeWarning: Columns (2,3,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./assets/input/' + dir+'/부림동_' +

       year  month day  hour forecast value        date addDate   timestamp
0      2009      1   1   200        4     1  2009-01-01       0  2009-01-01
1      2009      1   1   200        7     1  2009-01-01       0  2009-01-01
2      2009      1   1   200       10     1  2009-01-01       0  2009-01-01
3      2009      1   1   200       13     1  2009-01-01       0  2009-01-01
4      2009      1   1   200       16     1  2009-01-01       0  2009-01-01
...     ...    ...  ..   ...      ...   ...         ...     ...         ...
84640  2009     22  31  2300       40     1  2010-10-31       2  2010-11-02
84641  2009     22  31  2300       43     1  2010-10-31       2  2010-11-02
84642  2009     22  31  2300       46     1  2010-10-31       2  2010-11-02
84643  2009     22  31  2300       49     1  2010-10-31       3  2010-11-03
84644  2009     22  31  2300       52     2  2010-10-31       3  2010-11-03

[84645 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2010      1    1   200         4      3  2010-01-01        0
1      2010      1    1   200         7      4  2010-01-01        0
2      2010      1    1   200        10      4  2010-01-01        0
3      2010      1    1   200        13      4  2010-01-01        0
4      2010      1    1   200        16      4  2010-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
44083  2010     11   31  2300        40      1  2010-12-01        2
44084  2010     11   31  2300        43      2  2010-12-01        2
44085  2010     11   31  2300        46      2  2010-12-01        2
44086  2010     11   31  2300        49      2  2010-12-01        3
44087  2010     11   31  2300        52      3  2010-12-01        3

        timestamp
0      2010-01-01
1      2010-01-01
2      2010-01-01
3      2010-01-01
4      2010-01-01
...           ...
44083  2010-12-03
44084  2010-12-03
44085  2010-12-03
44086  2010-12-04
44087  2010-12-04

[44088 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2011      1    1   200         4      1  2011-01-01        0
1      2011      1    1   200         7      1  2011-01-01        0
2      2011      1    1   200        10      1  2011-01-01        0
3      2011      1    1   200        13      1  2011-01-01        0
4      2011      1    1   200        16      1  2011-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
40469  2011     11   31  2300        40      2  2011-12-01        2
40470  2011     11   31  2300        43      2  2011-12-01        2
40471  2011     11   31  2300        46      2  2011-12-01        2
40472  2011     11   31  2300        49      3  2011-12-01        3
40473  2011     11   31  2300        52      3  2011-12-01        3

        timestamp
0      2011-01-01
1      2011-01-01
2      2011-01-01
3      2011-01-01
4      2011-01-01
...           ...
40469  2011-12-03
40470  2011-12-03
40471  2011-12-03
40472  2011-12-04
40473  2011-12-04

[40474 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2012      1    1   200         4      4  2012-01-01        0
1      2012      1    1   200         7      3  2012-01-01        0
2      2012      1    1   200        10      1  2012-01-01        0
3      2012      1    1   200        13      1  2012-01-01        0
4      2012      1    1   200        16      1  2012-01-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
32200  2012      8   31  2300        40      1  2012-08-31        2
32201  2012      8   31  2300        43      1  2012-08-31        2
32202  2012      8   31  2300        46      1  2012-08-31        2
32203  2012      8   31  2300        49      1  2012-08-31        3
32204  2012      8   31  2300        52      1  2012-08-31        3

        timestamp
0      2012-01-01
1      2012-01-01
2      2012-01-01
3      2012-01-01
4      2012-01-01
...           ...
32200  2012-09-02
32201  2012-09-02
32202  2012-09-02
32203  2012-09-03
32204  2012-09-03

[32205 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2013      1    1   200         4      4    2013.1.1        0  2013.1.1
1      2013      1    1   200         7      4    2013.1.1        0  2013.1.1
2      2013      1    1   200        10      4    2013.1.1        0  2013.1.1
3      2013      1    1   200        13      4    2013.1.1        0  2013.1.1
4      2013      1    1   200        16      2    2013.1.1        0  2013.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
48175  2013     12   31  2300        40      2  2013.12.31        2  2014.1.2
48176  2013     12   31  2300        43      3  2013.12.31        2  2014.1.2
48177  2013     12   31  2300        46      3  2013.12.31        2  2014.1.2
48178  2013     12   31  2300        49      3  2013.12.31        3  2014.1.3
48179  2013     12   31  2300        52      3  2013.12.31        3  2014.1.3

[48180 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2014      1    1   200         4      3    2014.1.1        0  2014.1.1
1      2014      1    1   200         7      3    2014.1.1        0  2014.1.1
2      2014      1    1   200        10      2    2014.1.1        0  2014.1.1
3      2014      1    1   200        13      2    2014.1.1        0  2014.1.1
4      2014      1    1   200        16      1    2014.1.1        0  2014.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52079  2014     12   31  2300        52      2  2014.12.31        3  2015.1.3
52080  2014     12   31  2300        55      3  2014.12.31        3  2015.1.3
52081  2014     12   31  2300        58      3  2014.12.31        3  2015.1.3
52082  2014     12   31  2300        61      3  2014.12.31        3  2015.1.3
52083  2014     12   31  2300        64      4  2014.12.31        3  2015.1.3

[52084 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate timestamp
0      2015      1    1   200         4      1    2015.1.1        0  2015.1.1
1      2015      1    1   200         7      1    2015.1.1        0  2015.1.1
2      2015      1    1   200        10      1    2015.1.1        0  2015.1.1
3      2015      1    1   200        13      2    2015.1.1        0  2015.1.1
4      2015      1    1   200        16      2    2015.1.1        0  2015.1.1
...     ...    ...  ...   ...       ...    ...         ...      ...       ...
52514  2015     12   31  2300        52      3  2015.12.31        3  2016.1.3
52515  2015     12   31  2300        55      3  2015.12.31        3  2016.1.3
52516  2015     12   31  2300        58      3  2015.12.31        3  2016.1.3
52517  2015     12   31  2300        61      3  2015.12.31        3  2016.1.3
52518  2015     12   31  2300        64      3  2015.12.31        3  2016.1.3

[52519 rows x 9 columns]
       year  month day    hour  forecast  value       date  addDate  timestamp
0      2016      1   1   200.0       4.0    1.0   2016.1.1        0   2016.1.1
1      2016      1   1   200.0       7.0    1.0   2016.1.1        0   2016.1.1
2      2016      1   1   200.0      10.0    1.0   2016.1.1        0   2016.1.1
3      2016      1   1   200.0      13.0    1.0   2016.1.1        0   2016.1.1
4      2016      1   1   200.0      16.0    1.0   2016.1.1        0   2016.1.1
...     ...    ...  ..     ...       ...    ...        ...      ...        ...
49585  2016     11  31  2300.0      52.0    1.0  2016.12.1        3  2016.12.4
49586  2016     11  31  2300.0      55.0    1.0  2016.12.1        3  2016.12.4
49587  2016     11  31  2300.0      58.0    1.0  2016.12.1        3  2016.12.4
49588  2016     11  31  2300.0      61.0    1.0  2016.12.1        3  2016.12.4
49589  2016     11  31  2300.0      64.0    1.0  2016.12.1        3  2016.12.4

[49590 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2017      2    1   200         4      1  2017-02-01        0
1      2017      2    1   200         7      1  2017-02-01        0
2      2017      2    1   200        10      1  2017-02-01        0
3      2017      2    1   200        13      1  2017-02-01        0
4      2017      2    1   200        16      1  2017-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2017     13   31  2300        52      3  2018-01-31        3
54016  2017     13   31  2300        55      2  2018-01-31        3
54017  2017     13   31  2300        58      2  2018-01-31        3
54018  2017     13   31  2300        61      2  2018-01-31        3
54019  2017     13   31  2300        64      2  2018-01-31        3

        timestamp
0      2017-02-01
1      2017-02-01
2      2017-02-01
3      2017-02-01
4      2017-02-01
...           ...
54015  2018-02-03
54016  2018-02-03
54017  2018-02-03
54018  2018-02-03
54019  2018-02-03

[54020 rows x 9 columns]
      year  month  day  hour  forecast  value        date  addDate   timestamp
0     2017      1    1   200         4      3  2017-01-01        0  2017-01-01
1     2017      1    1   200         7      3  2017-01-01        0  2017-01-01
2     2017      1    1   200        10      3  2017-01-01        0  2017-01-01
3     2017      1    1   200        13      3  2017-01-01        0  2017-01-01
4     2017      1    1   200        16      4  2017-01-01        0  2017-01-01
...    ...    ...  ...   ...       ...    ...         ...      ...         ...
4583  2017      1   31  2300        52      2  2017-01-31        3  2017-02-03
4584  2017      1   31  2300        55      3  2017-01-31        3  2017-02-03
4585  2017      1   31  2300        58      3  2017-01-31        3  2017-02-03
4586  2017      1   31  2300        61      3  2017-01-31        3  2017-02-03
4587  2017      1   31  2300        64      3  2017-01-31        3  2017-02-03

[4588 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2018      2    1   200         4      1  2018-02-01        0
1      2018      2    1   200         7      1  2018-02-01        0
2      2018      2    1   200        10      1  2018-02-01        0
3      2018      2    1   200        13      1  2018-02-01        0
4      2018      2    1   200        16      1  2018-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2018     13   31  2300        52      4  2019-01-31        3
54016  2018     13   31  2300        55      4  2019-01-31        3
54017  2018     13   31  2300        58      4  2019-01-31        3
54018  2018     13   31  2300        61      4  2019-01-31        3
54019  2018     13   31  2300        64      3  2019-01-31        3

        timestamp
0      2018-02-01
1      2018-02-01
2      2018-02-01
3      2018-02-01
4      2018-02-01
...           ...
54015  2019-02-03
54016  2019-02-03
54017  2019-02-03
54018  2019-02-03
54019  2019-02-03

[54020 rows x 9 columns]
       year  month  day  hour  forecast  value        date  addDate  \
0      2019      2    1   200         4      1  2019-02-01        0
1      2019      2    1   200         7      1  2019-02-01        0
2      2019      2    1   200        10      1  2019-02-01        0
3      2019      2    1   200        13      1  2019-02-01        0
4      2019      2    1   200        16      1  2019-02-01        0
...     ...    ...  ...   ...       ...    ...         ...      ...
54015  2019     13   31  2300        52      3  2020-01-31        3
54016  2019     13   31  2300        55      3  2020-01-31        3
54017  2019     13   31  2300        58      3  2020-01-31        3
54018  2019     13   31  2300        61      1  2020-01-31        3
54019  2019     13   31  2300        64      1  2020-01-31        3

        timestamp
0      2019-02-01
1      2019-02-01
2      2019-02-01
3      2019-02-01
4      2019-02-01
...           ...
54015  2020-02-03
54016  2020-02-03
54017  2020-02-03
54018  2020-02-03
54019  2020-02-03

[54020 rows x 9 columns]

In [1]:
# dataset.py에서 파일 output하는 모듈 실행
from dataset import makeVisitor

makeVisitor()

In [1]:
# dataset.py에서 파일 output하는 모듈 실행
from dataset import makeAtmosphere

makeAtmosphere()